2025/09/15/8XVeFjpglVIkVWpl.json
{"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-832,368],"id":"e19b2736-e966-41d0-9cfe-e5f1be4d7f27","name":"OpenAI Chat Model","disabled":true},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"apppH8395IT41NcfN","mode":"list","cachedResultName":"Contact Database","cachedResultUrl":"https://airtable.com/apppH8395IT41NcfN"},"table":{"__rl":true,"value":"tblw1jm6W7MOIrEGr","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/apppH8395IT41NcfN/tblw1jm6W7MOIrEGr"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-496,448],"id":"cd3b6f60-875b-4d28-81c4-81409bf2a398","name":"Get Contacts","credentials":{"airtableOAuth2Api":{"id":"Q0KwsHaCzJqOk8fm","name":"Airtable Personal Access Token account"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"upsert","base":{"__rl":true,"value":"apppH8395IT41NcfN","mode":"list","cachedResultName":"Contact Database","cachedResultUrl":"https://airtable.com/apppH8395IT41NcfN"},"table":{"__rl":true,"value":"tblw1jm6W7MOIrEGr","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/apppH8395IT41NcfN/tblw1jm6W7MOIrEGr"},"columns":{"mappingMode":"defineBelow","value":{"Full Name":"{{ $fromAI(\"fullname\") }}","Phone Number":"{{ $fromAI(\"phonenumber\") }}","Email Address":"{{ $fromAI(\"emailaddress\") }}","Organization":"{{ $fromAI(\"organization\") }}","Job Title":"{{ $fromAI(\"jobtitle\") }}"},"matchingColumns":["name"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Organization","displayName":"Organization","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Email Domain","displayName":"Email Domain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Contact Summary (AI)","displayName":"Contact Summary (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Contact Category Suggestions (AI)","displayName":"Contact Category Suggestions (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-352,368],"id":"2e3f1e8e-9e24-4d72-8748-909a2f513347","name":"Add or Update Contact","credentials":{"airtableOAuth2Api":{"id":"Q0KwsHaCzJqOk8fm","name":"Airtable Personal Access Token account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-656,144],"id":"7c01c8d5-c24d-408a-afc4-701d3be2f509","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,64],"id":"b7bd2e00-a85c-4231-82d5-37c1dea99e0d","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,256],"id":"543f8159-e96e-4ce1-a07f-57b058fb1f2f","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-864,144],"id":"8d6403bd-3777-4e32-9cce-d56763867904","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-704,448],"id":"2cd3be71-b66b-493f-9b55-75c54b7ecbbb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Get Contacts":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Add or Update Contact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]}},"meta":null}