2025/09/15/o46FG0yBIXlXh0ha.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-192,-32],"id":"43063661-f21e-4f4e-bc06-1ffbf7887311","name":"When Executed by Another Workflow"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"Parse the JSON 'query' and output the following parameters separately:\n\njobTitle\ncompanyIndustry\nlocation","role":"system"},{"content":"={{ JSON.stringify($json.query) }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[16,-32],"id":"6694ba33-e930-4f11-8075-3a6e48086c5f","name":"Message a model"},{"parameters":{"url":"https://www.google.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=site:linkedin.com/in/ {{ $json.message.content.jobTitle }}{{ $json.message.content.companyIndustry }}{{ $json.message.content.location }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,-32],"id":"25268229-6210-4f6f-a59d-eec4ba945a00","name":"HTTP Request"},{"parameters":{"jsCode":"const html = $node[\"HTTP Request\"].json.data;\n\nfunction extractLinkedInUrls(htmlContent) {\n  const regex = /https:\\/\\/www\\.linedin\\.com\\/in\\/[a-zA-Z0-9\\-_]+/g;\n  const linedinUrls = htmlContent.match(regex) || [];\n  return [...new Set(linedinUrls)];\n}\n\nconst linkedinUrls = extractLinkedInUrls(html);\nreturn linkedinUrls;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-32],"id":"b9fb670b-5501-4d9a-b345-a83a35c6b037","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]}},"meta":null}