2025/09/01/recR5RFeqC3LsrKg.json
{"nodes":[{"parameters":{"operation":"toJson","options":{"format":true,"fileName":"={{ $json.name + \".json\" }} "}},"id":"7e56d0c1-3972-42bd-b772-ecb71e5f94d2","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[-1248,592],"typeVersion":1.1},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"id":"75667246-6805-40a5-96c2-1473e6eb6a87","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2144,664],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"538fc29d-2693-4c62-9848-bdcaf8566909","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('Create new folder').item.json.id }}"}]},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"3009ffbb-636e-46d6-95d2-c085b6b8284a","name":"Filter","type":"n8n-nodes-base.filter","position":[-800,400],"typeVersion":2.2},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"61bed7fe-6513-41aa-8079-1d82f149682d","name":"delete folder","type":"n8n-nodes-base.googleDrive","position":[-576,400],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1brKaJ3dtpM_wANRUx55lVzd1np_pxmxT","mode":"list","cachedResultName":"N8N Flows","cachedResultUrl":"https://drive.google.com/drive/folders/1brKaJ3dtpM_wANRUx55lVzd1np_pxmxT"}},"options":{}},"id":"402bf0f7-309d-4dcb-b527-5ad4b3105c0a","name":"Get folders","type":"n8n-nodes-base.googleDrive","position":[-1024,400],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{},"id":"c0c80a7a-f330-4461-b615-5d2135db0d76","name":"Manual trigger","type":"n8n-nodes-base.manualTrigger","position":[-2144,472],"typeVersion":1},{"parameters":{"resource":"folder","name":"=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1brKaJ3dtpM_wANRUx55lVzd1np_pxmxT","mode":"list","cachedResultName":"N8N Flows","cachedResultUrl":"https://drive.google.com/drive/folders/1brKaJ3dtpM_wANRUx55lVzd1np_pxmxT"},"options":{}},"id":"d78dbec7-e0d5-4b01-bf05-d2f3456e2f49","name":"Create new folder","type":"n8n-nodes-base.googleDrive","position":[-1920,592],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{"options":{}},"id":"fae1891b-3d64-4be7-9e01-7c952a26872f","name":"Loop ","type":"n8n-nodes-base.splitInBatches","position":[-1472,592],"typeVersion":3},{"parameters":{"name":"={{ $('Loop ').item.json.name + \".json\" }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('Create new folder').item.json.id }}"},"options":{}},"id":"fe148fbe-43b3-4d7d-9c87-ce39384d5178","name":"Upload workflow","type":"n8n-nodes-base.googleDrive","position":[-1024,664],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{},"id":"6f85e530-d543-4530-b522-d9f1d46e072e","name":"Limit","type":"n8n-nodes-base.limit","position":[-1248,400],"typeVersion":1},{"parameters":{"filters":{"activeWorkflows":false},"requestOptions":{}},"id":"13042c4b-cf76-4d45-bab9-bd5dd891f5c6","name":"Get n8n workflow","type":"n8n-nodes-base.n8n","position":[-1696,592],"retryOnFail":true,"typeVersion":1,"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"o3Rt4pWv7XBy46SS","name":"n8n account"}}},{"parameters":{"content":"# 🔄 Workflow Backup for n8n → Google Drive\n\nAn automated system to back up all your n8n workflows and store them as `.json` files in Google Drive.  \nPerfect for creators, teams, and agencies who want to protect their work without manual effort.\n\n---\n\n## ✨ What this workflow does\n\n- Creates a new folder in Google Drive named `Workflow Backups [date]`\n- Fetches all workflows from your n8n instance via the `n8n API`\n- Converts each workflow into a `.json` file\n- Uploads the files to the created backup folder\n- (Optionally) Deletes old backup folders to keep things tidy\n- Can run manually or automatically (e.g., weekly)\n\n---\n\n## 🛠 Requirements\n\n- A Google account with access to Google Drive\n- Connected `Google Drive OAuth2` credentials in n8n\n- Active `n8n API credentials`\n- Enabled trigger: `Manual` or `Schedule`\n\n---\n\n## ⚙️ Installation Instructions\n\n1. **Import the workflow** (`Workflow_Backup_copy.json`) into your n8n instance\n2. **Set up credentials:**\n   - Replace `Google demo` with your own `Google Drive OAuth2` in the following nodes:\n     - `Create new folder`\n     - `Get folders`\n     - `Upload workflow`\n     - `delete folder`\n   - Replace `n8n demo` with your `n8n API` credentials in `Get n8n workflow`\n3. **Replace the folder ID** in the `Create new folder` node with the target backup folder on your Drive (`folderId`)\n4. **Optional:** Configure `Schedule Trigger` to run weekly or at your preferred interval\n\n---\n\n## 📦 Workflow Structure\n\n```\nManual/Schedule Trigger\n      ↓\nCreate new folder (Google Drive)\n      ↓\nGet n8n workflows (via API)\n      ↓\nLoop through workflows\n      ↓\nConvert to .json files\n      ↓\nUpload to Drive\n      ↓\n(Optional) Delete old backup folders\n```\n\n---\n\n## ✅ Tips\n\n- Add logic to retain only the latest X backups (e.g., last 3).\n- The workflow can run fully hands-free once scheduled.\n- Want to store files elsewhere? Swap out the upload node for Dropbox, S3, etc.\n","height":1660,"width":1320,"color":4},"id":"850b6da9-e9b7-4eac-9bfe-a87b29c4ae8c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-176,48],"typeVersion":1}],"connections":{"Limit":{"main":[[{"node":"Get folders","type":"main","index":0}]]},"Loop ":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Filter":{"main":[[{"node":"delete folder","type":"main","index":0}]]},"Get folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Manual trigger":{"main":[[{"node":"Create new folder","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload workflow","type":"main","index":0}]]},"Upload workflow":{"main":[[{"node":"Loop ","type":"main","index":0}]]},"Get n8n workflow":{"main":[[{"node":"Loop ","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create new folder","type":"main","index":0}]]},"Create new folder":{"main":[[{"node":"Get n8n workflow","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}