2025/09/09/7QMnEjOUt6EC5wWr.json
{"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"b9eb3e07-3312-4f76-8419-e09b6ca7e59b","name":"Return","type":"n8n-nodes-base.set","position":[1392,176],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"2bce0a53-5372-4d00-bd12-4e8d6dcb8e36","name":"If file too large","type":"n8n-nodes-base.if","position":[64,96],"typeVersion":2},{"parameters":{},"id":"4ddee3a1-8f62-4e3e-bed6-ecb28269ec48","name":"Merge Items","type":"n8n-nodes-base.merge","position":[64,352],"typeVersion":2},{"parameters":{},"id":"a831e4e3-0997-4cdf-9e1a-3ddd58604bab","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[928,176],"typeVersion":1},{"parameters":{},"id":"96f6cfdc-4b4d-45a5-a55e-0f5768700fb6","name":"File is different","type":"n8n-nodes-base.noOp","position":[928,336],"typeVersion":1},{"parameters":{},"id":"e7c5bf02-de95-4540-be62-8017049b16c6","name":"File is new","type":"n8n-nodes-base.noOp","position":[928,528],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"3bdb40c0-d6ab-408c-bbbd-75ddf55f2c99","name":"Create new file","type":"n8n-nodes-base.github","position":[1152,528],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"mIATk0DzQbDrGvjD","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"d9bbba3e-ea24-4868-8221-a71468dd8515","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1152,336],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"mIATk0DzQbDrGvjD","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"b1381874-666c-4b91-9c00-ba01ca6d90f8","name":"Create sub path","type":"n8n-nodes-base.set","position":[512,352],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=elileomir"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n_backup"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"5f00083d-a209-48d0-9e02-74d62e3a5d57","name":"Config","type":"n8n-nodes-base.set","position":[-304,368],"typeVersion":3.4},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"e14e55d0-0f6d-49fc-ace7-a348aca8df43","name":"Get file data","type":"n8n-nodes-base.github","position":[-128,96],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"mIATk0DzQbDrGvjD","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"107125d0-056c-4e95-a759-5d97af8777ae","name":"Get file","type":"n8n-nodes-base.github","position":[288,80],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"mIATk0DzQbDrGvjD","name":"GitHub account"}}},{"parameters":{"jsCode":"// Simple isMatch implementation\nfunction isMatch(obj, attrs) {\n  return Object.keys(attrs).every(key => obj[key] === attrs[key]);\n}\n\nlet fileInput = null;\n\n// Check if first input has \"content\"\nif (Object.keys($input.first().json).includes(\"content\")) {\n  fileInput = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n}\n\nconst n8nInput = $input.last().json.data;\n\nif (!fileInput) {\n  return { githubStatus: \"new\" };\n}\n\nif (isMatch(fileInput, n8nInput)) {\n  return { githubStatus: \"same\" };\n} else {\n  return { githubStatus: \"different\" };\n}\n"},"id":"f058940f-cc96-43a4-8aad-d5b0ec702c65","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[288,352],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"b382de26-2f04-43fd-b28b-ea4acb0b3dcc","name":"Switch","type":"n8n-nodes-base.switch","position":[704,352],"typeVersion":3.2},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-528,368],"id":"24494793-f6b4-4748-b1d3-e40a560ea5ce","name":"Execute Workflow Trigger"}],"connections":{"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"meta":null}