2025/09/09/g03vGLcUoM9fIwDC.json
{"nodes":[{"parameters":{"updates":["*"],"additionalFields":{}},"id":"e2ac929a-1240-4b85-a594-d74bd42601da","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[-1152,464],"webhookId":"51942fbb-ca0e-4ec4-9423-5fcc7d3c4281","typeVersion":1},{"parameters":{"dataType":"string","value1":"={{ $json.message?.text }}","rules":{"rules":[{"operation":"notStartsWith","value2":"/"},{"operation":"startsWith","value2":"/start","output":1},{"operation":"startsWith","value2":"=/image ","output":2}]},"fallbackOutput":3},"id":"fbffdcd9-48fd-4d81-a63f-dfc98e2f117f","name":"CheckCommand","type":"n8n-nodes-base.switch","position":[-32,432],"typeVersion":1},{"parameters":{"content":"## Error fallback for unsupported commands","height":231.22373949579838,"width":316.1071428571428},"id":"59a88d84-b60f-45bd-b7f3-44e3258ecb46","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[16,1504],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"model_temperature","value":0.8},{"name":"token_length","value":500}],"string":[{"name":"system_command","value":"=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."},{"name":"bot_typing","value":"={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"}]},"options":{}},"id":"80096f6b-acba-4e62-85ec-729b8a32a2e0","name":"Settings","type":"n8n-nodes-base.set","position":[-704,464],"typeVersion":2},{"parameters":{"content":"## Chatbot mode by default\n### (when no command is provided)","height":219.892857142857,"width":330.7863484403046},"id":"81bcdc22-53b7-4cf7-b0b2-cdfc8de888d9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[224,320],"typeVersion":1},{"parameters":{"chatId":"={{ $('Settings').first().json.message.from.id }}","text":"={{ $json.content.parts[0].text }}","additionalFields":{"parse_mode":"Markdown"}},"id":"33c36caf-dc53-4ceb-8d2e-cee43b7bb70b","name":"Text reply","type":"n8n-nodes-base.telegram","position":[720,368],"typeVersion":1,"webhookId":"95d32e93-330a-4261-bf91-9c01fdb8dae4","credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.from.id }}","action":"={{ $json.bot_typing }}"},"id":"117169e1-35f0-481e-bc00-34712c638c7f","name":"Send Typing action","type":"n8n-nodes-base.telegram","position":[-480,544],"typeVersion":1,"webhookId":"5410058b-62a1-4fa8-ab79-08d12f4a711e","credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"mode":"chooseBranch"},"id":"32a90477-6ab4-490a-b2f9-6db036c44bc3","name":"Merge","type":"n8n-nodes-base.merge","position":[-256,464],"typeVersion":2.1},{"parameters":{"chatId":"={{ $json.message.from.id }}","text":"=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`","additionalFields":{"parse_mode":"Markdown"}},"id":"c9a10a93-33b2-44a4-898e-719f6dccbc17","name":"Send error message","type":"n8n-nodes-base.telegram","position":[128,1568],"typeVersion":1,"webhookId":"03120064-c08a-45de-a240-ac6480363dfa","credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"values":{"string":[{"name":"message.text","value":"={{ $json?.message?.text || \"\" }}"}]},"options":{"dotNotation":true}},"id":"b7d09d03-3509-4489-9bd6-e35367dd2151","name":"PreProcessing","type":"n8n-nodes-base.set","position":[-928,464],"typeVersion":2},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ $json.system_command }}","role":"model"},{"content":"={{ $json.message.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[272,112],"id":"0f020114-b33d-4848-9c93-e7ec08a25437","name":"Message a model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Chatbot mode by default\n### (when no command is provided)","height":233,"width":330.5019024637719},"id":"1c923657-c09d-410c-b046-23f1a6cfa843","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[224,32],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"messages":{"values":[{"content":"={{ $json.system_command }}","role":"model"},{"content":"=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[272,368],"id":"9d95d1c3-721a-496a-b21b-3baec69d1657","name":"Message a model1","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-preview-image-generation:generateContent","sendQuery":true,"queryParameters":{"parameters":[{"name":"=key","value":"AIzaSyDJS24n2Qst2aWhGAgD4lhe_Yp5o5zpNy8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify($json.output.enhanced_prompt) }}\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"TEXT\",\n      \"IMAGE\"\n    ]\n  }\n}","options":{}},"id":"296f06ad-3599-44c1-91a8-a50becf98145","name":"Generate Image","type":"n8n-nodes-base.httpRequest","position":[784,848],"typeVersion":4.2},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"id":"e8631009-3586-4284-9612-15aa2626d6e6","name":"Send a photo message","type":"n8n-nodes-base.telegram","position":[1584,848],"webhookId":"26f2518c-133d-4079-8e9a-08d81196e62d","typeVersion":1.2,"credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"promptType":"define","text":"=You are an expert prompt engineer specialized in creating detailed, high-quality prompts for AI image generation models. Your task is to take a user's basic image request and expand it into a comprehensive, detailed prompt that will produce stunning visual results.\n\n**Users Request:**{{ $json.message.text }}\n\nINSTRUCTIONS:\n1. Analyze the user's input and identify the core subject, style, and intent\n2. Expand the basic request into a detailed description including:\n   - Visual style and artistic approach\n   - Lighting conditions and mood\n   - Composition and framing\n   - Color palette and atmosphere\n   - Technical quality specifications\n   - Specific details that enhance the image\n\n3. Structure your response as a single, well-formatted prompt ready for image generation\n\nENHANCEMENT GUIDELINES:\n- Add specific artistic styles (e.g., \"photorealistic,\" \"oil painting,\" \"digital art,\" \"cinematic\")\n- Include lighting details (e.g., \"golden hour lighting,\" \"dramatic shadows,\" \"soft diffused light\")\n- Specify camera angles and composition (e.g., \"wide shot,\" \"close-up,\" \"bird's eye view\")\n- Add mood and atmosphere descriptors\n- Include quality enhancers like \"highly detailed,\" \"8K resolution,\" \"professional photography\"\n- Mention relevant artistic influences when appropriate\n\nEXAMPLE:\nUser input: \"a cat sitting on a windowsill\"\nYour output: \"A majestic tabby cat sitting gracefully on a wooden windowsill, bathed in warm golden afternoon sunlight streaming through vintage lace curtains. The scene captures a cozy, nostalgic atmosphere with soft shadows and gentle light rays creating a dreamy ambiance. Shot in the style of fine art photography with shallow depth of field, the background shows a blurred garden view. Highly detailed fur texture, expressive amber eyes, and warm color palette dominated by golds, creams, and soft browns. Professional photography quality, 8K resolution, cinematic lighting.\"\n\nNow take the user's image request and create a detailed, enhanced prompt for optimal image generation results.","hasOutputParser":true,"batching":{}},"id":"8fd96c03-aac0-4fd5-8876-297e60117528","name":"Generate prompt","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[272,832],"typeVersion":1.7},{"parameters":{"jsonSchemaExample":"{\n  \"enhanced_prompt\": \"...\"\n}","autoFix":true},"id":"e915907e-04b4-4dad-8d79-ac6d34d1e7be","name":"Structured Prompt","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[352,992],"typeVersion":1.3},{"parameters":{"operation":"toBinary","sourceProperty":"candidates[0].content.parts[1].inlineData.data","options":{}},"id":"5dd63337-2aec-4c5c-965f-11c595dae2e3","name":"Convert to Image","type":"n8n-nodes-base.convertToFile","position":[1200,848],"typeVersion":1.1},{"parameters":{"content":"## 📤 Send a Photo Message\n\n**Delivers final image to user**\n\n- Sends generated image back to Telegram\n- Uses binary data from previous node\n- Completes the user interaction\n- User receives their AI-generated image","height":520,"width":340,"color":3},"id":"367b3882-618a-499d-b8ae-7ea2be05e3b5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1456,608],"typeVersion":1},{"parameters":{"content":"## 🧠 Generate Prompt\n\n**Enhances user input with AI**\n\n- Takes basic text and makes it detailed\n- Uses prompt engineering techniques\n- Adds artistic style, lighting, composition\n- Powered by Gemini 2.5 Pro","height":520,"width":420,"color":7},"id":"536e4dec-d715-4a4d-8ad6-cb632a8fb6c1","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[208,592],"typeVersion":1},{"parameters":{"content":"## 🎨 Generate Image\n\n**Creates image from enhanced prompt**\n\n- Calls Google's Gemini 2.0 Flash API\n- Converts text prompt to visual image\n- Returns image in base64 format\n- HTTP POST to image generation endpoint","height":520,"width":340,"color":2},"id":"9a2968b1-e546-4f49-a384-b9112b74947e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[672,592],"typeVersion":1},{"parameters":{"content":"## 📁 Convert to Image\n\n**Prepares image for delivery**\n\n- Converts base64 data to binary file\n- Extracts image from API response\n- Makes image compatible with Telegram\n- Essential for photo message sending","height":520,"width":340,"color":6},"id":"1caf1baa-543b-4442-9342-a46b57612413","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1072,592],"typeVersion":1},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[464,1168],"id":"1267d926-5a4d-4e77-a533-8e7d18b3bd0c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"id":"7a335998-d455-471f-ba9d-189db53b9b7d","name":"Gemini Flash Enhance Prompt","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[240,1008],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.system_command }}\n\nIf about email related you may use the tool Get many messages in Gmail to get emails information, for documentation about draft created, billing or finance you may use this tool Get row(s) in sheet in Google Sheets, you won't ask for clarification or input but provide the best near response/ answer base on the request use all available tools you have.","options":{"systemMessage":"={{ $json.message.text }}\n\nIf about email related you may use the tool Get many messages in Gmail to get emails information, for documentation about draft created, billing or finance you may use this tool Get row(s) in sheet in Google Sheets, you won't ask for clarification or input but provide the best near response/ answer base on the request use all available tools you have."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[720,48],"id":"95f2561e-4f86-403a-872b-4af652f2462e","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[672,272],"id":"eb4d5614-089d-4984-a00a-5bc96ad01a91","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1136,256],"id":"ec352739-ada2-4575-9ffc-e78ea991f331","name":"Think"},{"parameters":{"documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1184,368],"id":"15de7b43-7c50-4815-86c5-3b1d4d6c903e","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","filters":{"receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1008,336],"id":"94cf315d-2386-45a0-8820-3305bd5ff7ad","name":"Get many messages in Gmail","webhookId":"42ed1d1b-a83a-4017-a001-d3744bfde976","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}}],"connections":{"Merge":{"main":[[{"node":"CheckCommand","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Send Typing action","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"CheckCommand":{"main":[[{"node":"Message a model","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}],[{"node":"Message a model1","type":"main","index":0}],[{"node":"Generate prompt","type":"main","index":0}],[{"node":"Send error message","type":"main","index":0}]]},"PreProcessing":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"PreProcessing","type":"main","index":0}]]},"Send Typing action":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Message a model1":{"main":[[{"node":"Text reply","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Convert to Image","type":"main","index":0}]]},"Generate prompt":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Convert to Image":{"main":[[{"node":"Send a photo message","type":"main","index":0}]]},"Structured Prompt":{"ai_outputParser":[[{"node":"Generate prompt","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Structured Prompt","type":"ai_languageModel","index":0}]]},"Gemini Flash Enhance Prompt":{"ai_languageModel":[[{"node":"Generate prompt","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get many messages in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Text reply","type":"main","index":0}]]}},"meta":null}