2025/09/13/nQTWKA6b0ckuNkgR.json
{"nodes":[{"parameters":{"chatId":"=7008488531","text":"=Workflow: {{ $('Error Trigger').first().json.workflow.name }}\nData & Time: {{ $now }}\nURL: {{ $('Error Trigger').first().json.execution.url }}\nLast Node: {{ $('Error Trigger').first().json.execution.lastNodeExecuted }}\nError Detal: {{ $('Error Trigger').first().json.execution.error.message }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"cd11db51-016f-4791-b63c-a779f45328c5","name":"Telegram","type":"n8n-nodes-base.telegram","position":[320,-32],"webhookId":"b3f6e388-8313-4bc1-8077-d81471b2f95d","retryOnFail":true,"typeVersion":1.2,"waitBetweenTries":3000,"credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{},"id":"a63ca7dc-5a34-486e-a0cc-03ac16060f03","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","position":[-128,-32],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"bf7b1294-b50d-49f7-a5f1-76b0d6845aea","name":"telegramChatId","type":"string","value":"123456789"}]},"options":{}},"id":"9dd3aa37-e3e9-4b50-b9c9-3786c7e988ad","name":"Config","type":"n8n-nodes-base.set","position":[112,-32],"typeVersion":3.4}],"connections":{"Error Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"meta":{"templateCredsSetupCompleted":true}}