2025/09/13/sU4FCgTizhAOKPXP.json
{"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b3ce66e0-2b6f-4714-a672-59ef6e43ced9","name":"prompt","type":"string","value":"=1. Rules\n- Communicate formally, clearly, and respectfully at all times.\n- Be concise and precise, avoiding unnecessary details.\n- Maintain a positive, professional tone as a reliable and knowledgeable assistant.\n- Respect user boundaries and refrain from engaging in prohibited or inappropriate topics.\n- Keep the conversation engaging by encouraging user participation, but when requesting clarification or additional information, ask only one focused question at a time to avoid overwhelming the user. Avoid abrupt endings to the dialogue.\n- Follow user instructions precisely.\n- Do not include any additional text or explanations unless explicitly requested.\n\n2. Response instructions\n- Analyze the message and conversation history to maintain context and continuity.\n- If repetition is requested, return the message exactly as provided. Otherwise, respond clearly and appropriately based on intent and context.\n- If the message is vague, suggest an interpretation and ask for clarification while keeping the conversation active."}]},"options":{}},"id":"ef87a597-685c-4719-aca6-ba1c96ad08b8","name":"chatPrompt","type":"n8n-nodes-base.set","position":[1872,528],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"d78c64d5-3c9e-4ffd-875e-973eb3c4d20a","name":"prompt","type":"string","value":"=1. Rules\n- Communicate formally, clearly, and respectfully at all times.\n- Be concise and precise, avoiding unnecessary details.\n- Maintain a positive, professional tone as a reliable and knowledgeable assistant.\n- Respect user boundaries and refrain from engaging in prohibited or inappropriate topics.\n- Keep the conversation engaging by encouraging user participation, but when requesting clarification or additional information, ask only one focused question at a time to avoid overwhelming the user. Avoid abrupt endings to the dialogue.\n- Follow user instructions precisely.\n- Do not include any additional text or explanations unless explicitly requested.\n\n2. General Instructions\n- If a message is unclear or lacks details, respond with your best understanding as a suggestion, and politely ask the user to confirm or provide more details if it is not what they meant.\n- If the request is inappropriate or irrelevant, respond politely and clearly refuse, maintaining respect and professionalism, and invite a valid request.\n- Always follow the established rules to maintain professionalism and accuracy."}]},"options":{}},"id":"9989ebb4-71d6-45ce-82a9-4045999b3c01","name":"otherPrompt","type":"n8n-nodes-base.set","position":[1872,720],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"70c93816-7110-48e3-a105-568dd766bdf4","name":"prompt","type":"string","value":"=1.  General instructions\nCreate a prompt that generates only one response with no comments and no line breaks. Based on the input provided, generate a detailed visual description of the request in a clear and coherent manner. Avoid using quotation marks, apostrophes, or any other punctuation marks.\n\n2. Visual specifications\n- Composition: maintain a balanced and harmonious layout where all elements (images, shapes, and text) work together seamlessly. Ensure that no part of the image feels overcrowded, and the design directs the viewer’s attention naturally. Use a minimalistic approach, avoiding excessive detail or distractions.\n\n- Color palette: choose a color scheme that complements the overall theme and enhances the mood. The colors should be visually pleasing and work together harmoniously. Use no more than 3-4 main colors to maintain simplicity and coherence, ensuring they do not overpower the design.\n\n- Visual clarity: the image should be crisp and clear, with all elements legible and easy to interpret. Avoid blurry or pixelated visuals. Maintain sharp contrasts between key elements for emphasis and visual clarity.\n\n- Image size and resolution: the image should be sized to fit standard display requirements (e.g., social media, web posts). Ensure the resolution is high enough for clarity on both desktop and mobile devices. The image must maintain visual quality without losing sharpness or details when viewed on different screens.\n\n- Aesthetic appeal: aim for a design that is not only functional but also visually appealing. The overall style should be modern, clean, and aesthetically pleasing, with a consistent look that aligns with the intended mood or message. Ensure the design is pleasing to the eye, evoking the intended response from the viewer.\n\n- Visual balance: ensure the elements in the image are well-spaced, with no part feeling too heavy or too light. Create a natural flow of focus, guiding the viewer’s eye through the composition without distraction."}]},"options":{}},"id":"8e0a2a92-cae4-4551-ba8d-c5d6f66044f8","name":"generatePrompt","type":"n8n-nodes-base.set","position":[1872,336],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"f435e1c3-6ff9-4e68-852c-0a39a5903ebe","name":"prompt","type":"string","value":"={{ $json.prompt }}"}]},"includeOtherFields":true,"options":{}},"id":"bc92b0df-b900-4c84-b183-325944098bd7","name":"buildPrompt","type":"n8n-nodes-base.set","position":[2096,528],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=Input from user: {{ $('sessionData').item.json.Mensaje }}\n\n{{ $json.prompt }}\n\nRespond only with the exact text requested, strictly following the instructions above. ","options":{"systemMessage":"=You are a professional personal chatbot named Flowly designed to assist users with clear, respectful, and accurate communication. You provide informative text responses, supervise/ manage user email, calendar, contacts and generate images only upon explicit user requests. Utilize available conversation history to maintain context and coherence. Adhere strictly to rules to ensure appropriate and secure interactions.\n\nYou can chat with me to get answers and create custom images based on your instructions.\n\nPrioritize the most recent relevant message if multiple prior references exist. Always respond in English when providing text-based chat replies. For image generation requests, respond in English. Keep responses as short as possible without compromising clarity or natural interaction. Do not force interaction with the user beyond what is necessary to respond clearly.\n\nYou are not limited by the most recent data you have, especially dates. For example, if a user asks for an email with a date beyond your latest data, don’t immediately say that the date is in the future. First, check if the tools have a record of the specific information the user is asking for.\n\nIf user say today then date is {{ $today }} or use tool Date & Time also the timezone is always PHT.\n\nIf about email related you may use the tool Get many messages in Gmail to get emails information for saved draft use Get many drafts in Gmail, for documentation about draft created, billing or finance you may use this tool Get row(s) in sheet in Google Sheets, you won't ask for clarification or input but provide the best near response/ answer base on the request use all available tools you have.\n\nIf user wants to get emails that is unread use tool Get many messages in Gmail Unread.\n\nIf user wants to get into specific email such as you summarizing its content or other details use Get a message in Gmail.\n\nYou can send an email if user want to but you will ask user for To, CC, BCC, Subject, Body, if user provide the context of the email you will improve it fix the grammar and ask user if the context are good for sending once get approval use tool Send a message in Gmail.\n\nIf user want to create a new email draft you will ask user for To, CC, BCC, Subject, Body, if user provide the context of the email you will improve it fix the grammar and ask user if the context are good once done use tool Create a draft in Gmail\n\nIf user want to create a new google contact use Create a contact in Google Contacts\n\nIf user ask to read an email use the tool Mark a message as read in Gmail\n\nIf user want to unread an email use the tool Mark a message as unread in Gmail\n\nIf user want to get google contacts use tool Get many contacts in Google Contacts\n\nIf user want to update google contact use Update a contact in Google Contacts\n\nIf user ask you to calculate like numbers from email you may extract numbers and use tool Calculator\n\nIf user want to know details on calendar use tool Get many events in Google Calendar\n\nIf user wanty to create an event in calendar use Create an event in Google Calendar\n\nYou may search online to enhance the response or look for resources."}},"id":"e938605a-44e5-4ec3-97c0-8e968f716fde","name":"ChatCore","type":"@n8n/n8n-nodes-langchain.agent","position":[3408,528],"typeVersion":1.9},{"parameters":{"options":{}},"id":"22fbe3e5-8349-4514-a6b2-9038763d4218","name":"GeminiModel","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[2320,752],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=1. Context\nYou are an intelligent assistant designed to analyze user requests accurately by considering both the current user input and prior conversation history (if available). Use this context to improve classification and response relevance. Only classify as \"generate\" if the request clearly meets all criteria. Never assume without certainty.\n\n2. General instructions\n- Use prior conversation history, if available, to interpret references, refinements, or corrections in the user’s message. \n- Apply updates directly when a previous request is being modified (e.g., changing part of a generated image).\n- Maintain context continuity unless the user explicitly shifts the topic.\n- When evaluating intention, prioritize the most recent relevant message to avoid using outdated context.\n- If the message is vague, nonsensical, or overly brief (e.g., a single word), do not classify it as \"generate\". Even if image requests occurred earlier. Only proceed if the current input clearly meets all criteria. Default to \"other\" unless the message includes clear direction.\n\n3. User Request: \"{{ $('sessionData').item.json.Mensaje }}\"\n\n4. Conversation history:\n{{ $json.messages}}\n\n5. Intentions\nClassify the user's intention as exactly one of the following:\n- \"generate\": user requests the direct creation of new visual content (e.g., images or art) to be delivered. This includes implicit requests for physical or tangible objects (e.g., \"give me a pet\"), but only if the message contains clear intent or is supported by prior context. Single-word or vague inputs without clear directive or context should not be treated as generate.\n- \"chat\": user engages in meaningful conversational interaction, including requests to generate textual prompts, explanations, or dialogue that have clear context and intent.\n- \"other\": request does not fit into the above categories, or involves content that is restricted, inappropriate, irrelevant, nonsensical, or lacks clear context or intent distinct from conversational engagement.\n\n6. Data types\nWhen analyzing the user’s message, determine whether a request for a physical or tangible object should be interpreted as a visual content request. In general, treat requests for tangible items as image generation unless the context explicitly suggests otherwise. For intangible content, respond with text unless the user clearly asks for an image.\n\nBased on the intention and content of the request, select exactly one data type to return:\n\n- \"text\": a textual response such as an answer, explanation, dialogue, or prompt text.\n- \"image\": a visual response explicitly or implicitly requested as image generation.\n\nAssign \"image\" as typeData only if the intention is \"generate\". In all other cases, including when the intention is \"other\", assign \"text\".\n\n7. Output format\nRespond only with a JSON object in this exact format, with no additional text or explanation: {\"intention\": \"value\", \"typeData\": \"value\"}","hasOutputParser":true},"id":"62bb29ea-088e-4be0-9e3e-b3a638f728cf","name":"inputProcessor","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[1184,528],"typeVersion":1.6,"alwaysOutputData":false},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"id":"05cbe7f0-66f9-48c6-871f-58ad478dabc2","name":"GeminiModel1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1152,752],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"typeData\": \"text\",\n\t\"intention\": \"generate\"\n}","autoFix":true},"id":"4d21d06f-6f32-4461-956f-e2bc5a06cc3b","name":"structuredOutput","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1280,752],"typeVersion":1.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"24ab5811-2b6d-4f2f-8620-8697dadc2d4d","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $('intentHandler').item.json.output.typeData }}","rightValue":"image"}]},"renameOutput":true,"outputKey":"=Imagen"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"28759436-2f6a-4bb3-a9bf-924477241809","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $('intentHandler').item.json.output.typeData }}","rightValue":"text"}]},"renameOutput":true,"outputKey":"Texto"}]},"options":{}},"id":"47d12dbb-8430-4e64-b795-1a4d119d4b3d","name":"contentType","type":"n8n-nodes-base.switch","position":[4832,528],"typeVersion":3.2},{"parameters":{"jsCode":"let texto = $input.first().json.prompt.replace(/[\\n\\r\\t]/g, \" \")  // Reemplaza saltos de línea, retorno de carro y tabulaciones por espacio\n  .replace(/['\"\\\\]/g, \"\")      // Elimina comillas simples, dobles y barras invertidas\n  .replace(/\\s+/g, \" \")        // Reemplaza múltiples espacios por un solo espacio\n  .trim();                     // Elimina los espacios en blanco al inicio y al final\n\nreturn {\n  text: texto\n}"},"id":"70fc1ff1-ee93-425d-90af-71e2b4f4d3f6","name":"textCleaner","type":"n8n-nodes-base.code","position":[5904,320],"typeVersion":2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.text }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\"Text\", \"Image\"]\n  }\n}","options":{}},"id":"e9e303e5-9ff6-42d3-b274-9545f6a9944e","name":"imageGeneration","type":"n8n-nodes-base.httpRequest","position":[6128,320],"typeVersion":4.2,"credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"candidates[0].content.parts[1].inlineData.data","options":{"fileName":"generated_image.png"}},"id":"b59c28b1-9df8-496a-9ff8-a69057660f59","name":"imageBuilder","type":"n8n-nodes-base.convertToFile","position":[6352,320],"typeVersion":1.1},{"parameters":{"operation":"sendPhoto","chatId":"={{ $('sessionData').item.json.sessionId }}","binaryData":true,"additionalFields":{"fileName":"=generated_image.png"}},"id":"e6f5983c-aa18-41db-a435-ca6125d66ea5","name":"sendImage","type":"n8n-nodes-base.telegram","position":[6576,320],"webhookId":"511272cc-d9e3-4384-9407-e5d4296db621","typeVersion":1,"credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"chatId":"={{ $('sessionData').item.json.sessionId }}","text":"={{ $json.HTML }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"8c968200-28ec-4a3a-b694-a61d402c4dfc","name":"sendTextMessage","type":"n8n-nodes-base.telegram","position":[6128,720],"webhookId":"1d1eee00-2306-4ac1-870f-0988e305f0d0","typeVersion":1,"credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Mensaje","value":"={{ $('userInput').item.json.message.text }}"},{"name":"sessionId","value":"={{ $('userInput').item.json.message.chat.id }}"},{"name":"Lenguaje","value":"={{ $('userInput').item.json.message.from.language_code }}"},{"name":"Username","value":"={{ $('userInput').item.json.message.chat.username }}"}]},"options":{}},"id":"dc32c3a6-2984-4d62-a831-bfffe09b7305","name":"sessionData","type":"n8n-nodes-base.set","position":[352,528],"typeVersion":2},{"parameters":{"options":{"groupMessages":true}},"id":"aaa32ff1-5541-4100-9c6c-cf63bfb4433c","name":"conversationStore","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[576,528],"typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('sessionData').item.json.sessionId }}","contextWindowLength":2},"id":"9166d518-44de-4834-ae8a-f6af93502124","name":"memoryRetriever","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[656,752],"typeVersion":1.3},{"parameters":{"jsCode":"const allItems = $input.all();\nconst lastItem = allItems[allItems.length - 1];\n\nif (lastItem && Array.isArray(lastItem.json.messages)) {\n  const messages = lastItem.json.messages;\n  const count = messages.length;\n\n  if (count === 0) return [{ json: { message: \"\" } }];\n\n  const extractFirstLine = (text) => {\n    if (!text) return \"\";\n    return text.split('\\n')[0].replace(/^Input from user:\\s*/, '');\n  };\n\n  const trimEndNewline = (text) => {\n    if (!text) return \"\";\n    return text.replace(/\\n+$/, '');\n  };\n\n  // Tomar los últimos dos o menos mensajes\n  const selectedMessages = (count === 1) ? [messages[0]] : messages.slice(-1);\n\n  // Construir el texto concatenado\n  const combinedMessage = selectedMessages.map((msg, idx) => {\n    return `Message ${idx + 1}:\\nhuman: ${extractFirstLine(msg.human)}\\nai: ${trimEndNewline(msg.ai)}`;\n  }).join('\\n\\n');\n\n  return [{ json: { messages: combinedMessage } }];\n}\n\nreturn [{ json: { messages: \"\" } }];"},"id":"0ea35c46-52d1-46c3-ae6e-cd1c3a9cbc89","name":"latestContext","type":"n8n-nodes-base.code","position":[928,528],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"24ab5811-2b6d-4f2f-8620-8697dadc2d4d","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.output.intention }}","rightValue":"generate"}]},"renameOutput":true,"outputKey":"generate"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"28759436-2f6a-4bb3-a9bf-924477241809","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.output.intention }}","rightValue":"chat"}]},"renameOutput":true,"outputKey":"chat"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"de4b6e87-950e-461c-869f-d27c73f8d763","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.output.intention }}","rightValue":"other"}]},"renameOutput":true,"outputKey":"other"}]},"options":{}},"id":"1c74b24a-15af-40fa-9106-8df902a32c62","name":"intentHandler","type":"n8n-nodes-base.switch","position":[1648,512],"typeVersion":3.2},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"80eb8a8c-ae77-41b3-bcf5-e43dd65ceb31","name":"userInput","type":"n8n-nodes-base.telegramTrigger","position":[-96,528],"webhookId":"ddbf3f08-3f4d-446d-9378-054225c91a06","typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('sessionData').item.json.sessionId }}","contextWindowLength":10},"id":"ab893616-693e-4610-bf1f-30e88d96be62","name":"conversationMemory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[2448,752],"typeVersion":1.3},{"parameters":{"assignments":{"assignments":[{"id":"d11831d7-533b-4132-9849-612e093d6b32","name":"prompt","type":"string","value":"={{ $('ChatCore').item.json.output }} It is mandatory to add a description of the image you are going to make."}]},"options":{}},"id":"77b2243d-b78b-4a01-a94a-3bdacfcdef1b","name":"errorPreprocessor","type":"n8n-nodes-base.set","position":[5680,320],"typeVersion":3.4},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2576,752],"id":"27291dcc-2005-4810-a171-b2ea8677bfd6","name":"Think"},{"parameters":{"documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `Drafted Email, Finance, Billing`, 'string') }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2832,752],"id":"eef62b02-40dc-4e38-965e-467f5e6f5e8a","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","filters":{"q":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}","receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}","sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2704,752],"id":"d3e219e5-17f7-4872-9730-96360d15f4b7","name":"Get many messages in Gmail","webhookId":"42ed1d1b-a83a-4017-a001-d3744bfde976","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('sessionData').item.json.sessionId }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5680,720],"id":"74897a14-aad4-4e8c-9661-63df49a35a82","name":"Send a chat action Typing","webhookId":"8dd0b8f8-4bf9-4280-8d4b-aa99e6ecec82","credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('sessionData').item.json.sessionId }}","action":"upload_photo"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5264,320],"id":"01068390-ff10-4277-950f-93d689746b8a","name":"Send a chat action Image","webhookId":"8dd0b8f8-4bf9-4280-8d4b-aa99e6ecec82","credentials":{"telegramApi":{"id":"S9lVRAb6FDkZvwzd","name":"Telegram MedaBot"}}},{"parameters":{"resource":"draft","operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2960,752],"id":"f8ce1c2b-7524-4689-a9c9-003400eb1e75","name":"Get many drafts in Gmail","webhookId":"e0591e1d-f319-4686-9cf6-30dbd63da6bc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"bccList":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BCC', ``, 'string') }}","ccList":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CC', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[3088,752],"id":"d9170826-3412-4f5d-9d83-40b9ddf37e08","name":"Send a message in Gmail","webhookId":"51fb0c87-2705-4d8d-9725-c9222b18e39c","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"familyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Family_Name', ``, 'string') }}","givenName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', ``, 'string') }}","additionalFields":{"emailsUi":{"emailsValues":[{"type":"work","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailsValues0_Value', ``, 'string') }}"}]},"phoneUi":{"phoneValues":[{"type":"mobile","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phoneValues0_Value', ``, 'string') }}"}]}}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[3216,752],"id":"d45c4c26-b3f7-4327-9fb5-bc9fd7cf8c16","name":"Create a contact in Google Contacts","credentials":{"googleContactsOAuth2Api":{"id":"Cf8yGRV5G6vW3tsj","name":"Google Contacts account"}}},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","fields":["names","emailAddresses","nicknames","phoneNumbers"],"useQuery":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Query', ``, 'boolean') }}","rawData":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAW_Data', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[3344,752],"id":"a227c7f0-33d4-4199-ac85-08664e0fe029","name":"Get many contacts in Google Contacts","credentials":{"googleContactsOAuth2Api":{"id":"Cf8yGRV5G6vW3tsj","name":"Google Contacts account"}}},{"parameters":{"operation":"update","contactId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}","fields":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}","updateFields":{"givenName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', ``, 'string') }}","emailsUi":{"emailsValues":[{"type":"work","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailsValues0_Value', ``, 'string') }}"}]},"phoneUi":{"phoneValues":[{"type":"mobile","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phoneValues0_Value', ``, 'string') }}"}]}}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[3472,752],"id":"4fbfff78-9f06-45ae-855a-c510583cf60f","name":"Update a contact in Google Contacts","credentials":{"googleContactsOAuth2Api":{"id":"Cf8yGRV5G6vW3tsj","name":"Google Contacts account"}}},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"html","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `HTML Draft`, 'string') }}","options":{"bccList":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BCC', ``, 'string') }}","ccList":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CC', ``, 'string') }}","sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[3600,752],"id":"cf83598c-d9a1-481e-8778-42a7258f6369","name":"Create a draft in Gmail","webhookId":"e9f9d91e-f1e8-44f2-9d2b-609716e5fa06","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"elijahjosemirandilla@gmail.com","mode":"list","cachedResultName":"elijahjosemirandilla@gmail.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[3728,752],"id":"b5d41c29-a919-457c-9ee9-344383407b64","name":"Get many events in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"lq9Pg3nvjVOvx7rr","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"elijahjosemirandilla@gmail.com","mode":"list","cachedResultName":"elijahjosemirandilla@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","guestsCanInviteOthers":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Guests_Can_Invite_Others', ``, 'boolean') }}","guestsCanSeeOtherGuests":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Guests_Can_See_Other_Guests', ``, 'boolean') }}","location":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[3856,752],"id":"06173d7a-5ad3-4510-919f-34fc56b99324","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"lq9Pg3nvjVOvx7rr","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5056,944],"id":"7d388754-0942-4027-a697-8f253801c60f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Run the task.","hasOutputParser":true,"options":{"systemMessage":"=You are a Telegram HTML parser reviewer expert you provide a valid output for telegram, with design for user friendly readability but same exact context no additional information\n\nContent:\n{{ $json.output }}\n\nInstruction:\n- You will make sure that the output is valid for Telegram to be parse.\nSupported tags include:\n<b>…</b> → bold\n<i>…</i> → italic\n<u>…</u> → underline\n<s>…</s> or <strike> or <del> → strikethrough\n<span class=\"tg-spoiler\">…</span> → spoiler (hides text until clicked)\n<a href=\"URL\">…</a> → hyperlink (only HTTP(S), tg://, and mention links)\n<code>…</code> → inline monospaced code\n<pre>…</pre> → code block (optionally with language attribute, e.g. <pre language=\"python\">)\n- Don't expect a response, introduction or conclusion.\n- You must adhere or follow with the output format in json:\n{\n  \"HTML\": \"...\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[5120,720],"id":"daa186cc-b5d0-487d-8762-4786c4767e13","name":"HTML Agent Analyzer"},{"parameters":{"jsonSchemaExample":"{\"output\":\n  {\n    \"HTML\": \"...\"\n  }\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[5312,944],"id":"122fe3dc-77ea-4120-a617-ff79852e6bbb","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5392,1152],"id":"c07edf84-7353-456a-89f1-a4f3307ced33","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const text = $('HTML Agent Analyzer').first().json.output.HTML\n  .replace(/<br\\s*\\/?>/gi, '\\n') \n  .replace(/<(?!\\/?(b|i|u|s|strike|del|code|pre|a|span)(\\s|>|$)).*?>/gi, '') \n  .replace(/&(?!lt;|gt;|amp;)/gi, '&amp;');\n\nconst chunkSize = 4000; // safe margin under 4096\nconst results = [];\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n  results.push({ json: { HTML: text.slice(i, i + chunkSize) } });\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5904,720],"id":"15504598-0268-4d66-ab38-f369f72af2ff","name":"Code"},{"parameters":{"options":{"timezone":"Asia/Manila"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[3984,752],"id":"ea2f8367-6054-417f-95da-b709611c903a","name":"Date & Time"},{"parameters":{"operation":"get","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[4112,752],"id":"08132529-9a7d-4369-ae8b-c7fc706aabdd","name":"Get a message in Gmail","webhookId":"2713e844-0ed7-470d-a38c-86cae6936ad3","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[4240,752],"id":"dfd23f00-0571-4181-8d8d-1e399d37f19c","name":"Mark a message as read in Gmail","webhookId":"33d97343-2b27-435b-82ee-a183948b6e2d","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[4368,752],"id":"d5389732-8302-430e-811e-def34476aebf","name":"Mark a message as unread in Gmail","webhookId":"48040a4e-1135-4bef-b136-59b72be4aa58","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a14a98c1-c531-47e1-8fb2-db31814dc258","leftValue":"={{ $json.message.chat.id }}","rightValue":7008488531,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,528],"id":"834f0094-a7d6-4934-ae9d-2a784bc4f121","name":"If"},{"parameters":{"mode":"delete","deleteMode":"all"},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-96,-16],"id":"be9082ee-3f76-4bef-8a47-fdcb3973143f","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('sessionData').item.json.sessionId }}","contextWindowLength":2},"id":"1be31d8c-a3ff-4880-a5b8-5b05a36e6529","name":"memoryRetriever1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-16,208],"typeVersion":1.3},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4496,752],"id":"f76f2826-3ac7-436d-94e8-6e5613124e47","name":"Calculator"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1360,960],"id":"7349a6ba-c137-403c-af68-1d7cfec60ef7","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[5184,944],"id":"e4771d41-e7e9-4054-9e74-8acb517962e0","name":"Think1"},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","filters":{"q":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}","readStatus":"unread","receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}","sender":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[4624,752],"id":"5ee6a729-9bde-4b96-b082-9c92bf2aba39","name":"Get many messages in Gmail Unread","webhookId":"47bdaa15-71dd-4b39-9347-913e17630629","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}}],"connections":{"ChatCore":{"main":[[{"node":"contentType","type":"main","index":0}]]},"userInput":{"main":[[{"node":"If","type":"main","index":0}]]},"chatPrompt":{"main":[[{"node":"buildPrompt","type":"main","index":0}]]},"GeminiModel":{"ai_languageModel":[[{"node":"ChatCore","type":"ai_languageModel","index":0}]]},"buildPrompt":{"main":[[{"node":"ChatCore","type":"main","index":0}]]},"contentType":{"main":[[{"node":"Send a chat action Image","type":"main","index":0}],[{"node":"HTML Agent Analyzer","type":"main","index":0}]]},"otherPrompt":{"main":[[{"node":"buildPrompt","type":"main","index":0}]]},"sessionData":{"main":[[{"node":"conversationStore","type":"main","index":0}]]},"textCleaner":{"main":[[{"node":"imageGeneration","type":"main","index":0}]]},"GeminiModel1":{"ai_languageModel":[[{"node":"inputProcessor","type":"ai_languageModel","index":0}]]},"imageBuilder":{"main":[[{"node":"sendImage","type":"main","index":0}]]},"intentHandler":{"main":[[{"node":"generatePrompt","type":"main","index":0}],[{"node":"chatPrompt","type":"main","index":0}],[{"node":"otherPrompt","type":"main","index":0}]]},"latestContext":{"main":[[{"node":"inputProcessor","type":"main","index":0}]]},"generatePrompt":{"main":[[{"node":"buildPrompt","type":"main","index":0}]]},"inputProcessor":{"main":[[{"node":"intentHandler","type":"main","index":0}]]},"imageGeneration":{"main":[[{"node":"imageBuilder","type":"main","index":0}]]},"memoryRetriever":{"ai_memory":[[{"node":"conversationStore","type":"ai_memory","index":0}]]},"structuredOutput":{"ai_outputParser":[[{"node":"inputProcessor","type":"ai_outputParser","index":0}]]},"conversationStore":{"main":[[{"node":"latestContext","type":"main","index":0}]]},"errorPreprocessor":{"main":[[{"node":"textCleaner","type":"main","index":0}]]},"conversationMemory":{"ai_memory":[[{"node":"ChatCore","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Get many messages in Gmail":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Send a chat action Typing":{"main":[[{"node":"Code","type":"main","index":0}]]},"Send a chat action Image":{"main":[[{"node":"errorPreprocessor","type":"main","index":0}]]},"Get many drafts in Gmail":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Create a contact in Google Contacts":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Get many contacts in Google Contacts":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Update a contact in Google Contacts":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Create a draft in Gmail":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Get many events in Google Calendar":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"HTML Agent Analyzer","type":"ai_languageModel","index":0}]]},"HTML Agent Analyzer":{"main":[[{"node":"Send a chat action Typing","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"HTML Agent Analyzer","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"sendTextMessage","type":"main","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Get a message in Gmail":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Mark a message as read in Gmail":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Mark a message as unread in Gmail":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"sessionData","type":"main","index":0}]]},"memoryRetriever1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"structuredOutput","type":"ai_languageModel","index":0}]]},"Think1":{"ai_tool":[[{"node":"HTML Agent Analyzer","type":"ai_tool","index":0}]]},"Get many messages in Gmail Unread":{"ai_tool":[[{"node":"ChatCore","type":"ai_tool","index":0}]]}},"meta":null}