2025/09/27/bCvb4WLjoTMvp4et.json
{"nodes":[{"parameters":{"options":{"range":"A1:A2","rawData":true,"sheetName":"Sheet"}},"id":"94d4bb32-f44b-43c5-8031-6b36543ecacc","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[-752,96]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Search files and folders').item.json.id }}","operation":"isNotEmpty"}]}},"id":"24197e79-1afd-4104-a536-a090cc3122c5","name":"IF Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[144,0]},{"parameters":{"assignments":{"assignments":[{"id":"e63f127c-f381-44ea-98b6-6336d649185f","name":"filename","value":"={{(() => {\n  // Get first row\n  const row = $json;\n  // Extract the first value of the object (e.g. \"From: 02-Sep-2025\")\n  const raw = Object.values(row)[0] || '';\n  \n  // Remove \"From: \" prefix if present\n  const clean = raw.replace(/^From:\\s*/i, '').trim();\n  \n  // Try parsing as Date\n  const date = new Date(clean);\n  \n  // If valid date → format; else → fallback to original string\n  if (!isNaN(date)) {\n    const formatted = date.toLocaleDateString('en-GB', {\n      month: 'short',\n      year: 'numeric'\n    });\n    return `SICN_${formatted}.xlsx`;\n  } else {\n    return `SICN_${clean}.xlsx`;\n  }\n})()}}","type":"string"}]},"includeOtherFields":true,"options":{"stripBinary":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,96],"id":"7b46721d-8c0a-4e82-9dfa-6ce5c9432fa4","name":"Set Filename"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.filename }}","filter":{"folderId":{"__rl":true,"value":"1Zf3Ya4hNvZlPjWXc0Kf_8oc3UNIzEDjq","mode":"list","cachedResultName":"Sales Wayne Database","cachedResultUrl":"https://drive.google.com/drive/folders/1Zf3Ya4hNvZlPjWXc0Kf_8oc3UNIzEDjq"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-304,96],"id":"fef85af5-96be-483b-b77f-55f7fe81c40c","name":"Search files and folders","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{"jsCode":"// Get HTML body\nconst body = $json.html || $json.text;\n\n// Regex to find anchor tags\nconst regex = /<a[^>]+href=\"([^\"]+)\"[^>]*>(.*?)<\\/a>/gi;\n\nlet match;\nlet downloadUrl;\n\nwhile ((match = regex.exec(body)) !== null) {\n  const url = match[1];\n  const text = match[2];\n  \n  // Look for the \"download the report\" link\n  if (text && text.toLowerCase().includes(\"download the report\")) {\n    downloadUrl = url;\n    break;\n  }\n}\n\nif (downloadUrl) {\n  return [{ json: { downloadUrl } }];\n} else {\n  return [{ json: { error: \"No download link found\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,96],"id":"48651442-1b4b-4d44-8779-a5225456aa3a","name":"Extract Link"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"sender":"noreply@post.dearsystems.com"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-1424,96],"id":"074bd7bc-613c-434e-a50c-63aa1d0846a1","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"url":"={{$json.downloadUrl}}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,96],"id":"b870c2b9-c8a3-425f-b829-e54b14fe984e","name":"Download File"},{"parameters":{"url":"={{ $('Extract Link').item.json.downloadUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,96],"id":"41d668b3-085e-46a5-92c0-43f9a2237e99","name":"Download File1"},{"parameters":{"name":"={{ $('Set Filename').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Zf3Ya4hNvZlPjWXc0Kf_8oc3UNIzEDjq","mode":"list","cachedResultName":"Sales Wayne Database","cachedResultUrl":"https://drive.google.com/drive/folders/1Zf3Ya4hNvZlPjWXc0Kf_8oc3UNIzEDjq"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,96],"id":"cd71eec2-4f7d-4837-aa99-37d78bbe9779","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Search files and folders').item.json.id }}","mode":"id"},"changeFileContent":true,"newUpdatedFileName":"={{ $('Set Filename').item.json.filename }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,-96],"id":"601da90a-7e4f-4663-98a4-c1a60ad6f9a5","name":"Update file","credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[368,288],"id":"78762378-3322-4756-94d4-d12886e87380","name":"Extract from File"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[592,288],"id":"e3f84d4c-b4c3-4e4b-8e1e-555dac303b19","name":"Aggregate"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1168,512],"id":"a99feb70-e3a0-41f9-ad96-d1c7461c20a5","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1296,512],"id":"08e9396a-46b9-4002-a134-7ba238a3dfda","name":"Calculator"},{"parameters":{"promptType":"define","text":"=sales_summary {\n\"StartDate\": \"{{ $json.header.startDate }}\",\n\"EndDate\": \"{{ $json.header.endDate }}\",\n\"Total Sales\": \"{{ $json.header.totalAmount }}\",\n\"Top Sales Rep\": \"{{ $json.header.topRep.name }} ({{ $json.header.topRep.amount }})\",\n\"Top Brand\":\"{{ $json.header.topBrand.name }} ({{ $json.header.topBrand.amount }})\",\n\"Top Product\": \"{{ $json.header.topProduct.name }} ({{ $json.header.topBrand.amount }})\",\n\"Sales Per Day\": \"\"{{ JSON.stringify($json.header.dailyTotals) }}\"\"\n\"DOD CurrentDate\": \"{{ $json.header.dod.currentDate }}\",\n\"DOD CurrentSales\": \"{{ $json.header.dod.previousAmount }}\",\n\"DOD PreviousDate\": \"{{ $json.header.dod.previousDate }}\",\n\"DOD PreviousSales\": \"{{ $json.header.dod.currentAmount }}\",\n\"DOD\": \"{{ $json.header.dod.change }}\"\n}\n\nsales_raw {\n{{ JSON.stringify($json.sales) }}\n}","hasOutputParser":true,"options":{"systemMessage":"=# ROLE: Factual Sales Data Analyst\nYou are a precise, data-literal analysis engine. Your sole purpose is to transform the provided `sales_summary` and `sales_raw` data into a structured, factual JSON report for business intelligence. You are prohibited from speculating, inferring, or generating any information not explicitly present in the provided data. Your analysis must be based exclusively on calculable facts from the dataset.\n\n  **Mandatory Tool Use:** You MUST use the **Think** tool to analyze the data structure and plan your calculations BEFORE generating the final output. You MUST use the **Calculator** tool to verify all sums, totals, and percentages, especially those derived from the `sales_raw` list.\n\n # PRIMARY GOAL\nAnalyze the provided `sales_summary` and `sales_raw` data to generate a single, valid JSON object containing a daily sales performance report. The analysis must focus on the most recent day (CurrentDate) within the data, using previous days for context only.\n\n# STRICT EXECUTION RULES\n1.  **Data Fidelity is Mandatory:** All insights, numbers, and names MUST be drawn directly from the `sales_summary` dictionary or calculated from the `sales_raw` list. Never assume or invent data.\n    **Always or must use the Think tool before providing the output and analyzing new data.\n    **Use Calculator tool to validate if totals or numbers before including it to your output.\n2.  **Focus on Current Date:** The report is for the most recent day (`DOD CurrentDate`). Use the previous days only for context (e.g., Day-over-Day change).\n3.  **Use Exact Terminology:** Use the exact names, brands, and product titles as they appear in the data (e.g., \"ANDRE VERDIER\", not \"Andre Verdier\" unless the data shows it that way).\n4.  **No Fluff or Speculation:** Omit phrases like \"this suggests,\" \"it is likely,\" or \"we can assume.\" State only what the data factually shows.\n5.  **Calculator Use:** Use the **Calculator** tool to verify totals from `sales_raw` if needed to ensure accuracy, especially for the current day's sales.\n\n# ANALYSIS FRAMEWORK\n    *   `analystSummaryObservations`: Write a high-level executive summary. Address the overall sales trend, total revenue, and the primary DoD change. This is for the CEO/COO.\n    *   `topPerformerAnalysis`: Detail the performance of the leading sales representative(s). Mention their total contribution and any standout sales. This is for the Head of Sales.\n    *   `brandProductInsights`: Identify the top-performing brands and/or specific products. Note any significant trends or concentrations in sales.\n    *   `channelPerformance`: Analyze the sales distribution across different channels (e.g., 'Online', 'In-Store'). Highlight which channels are most effective.\n\n# HTML FORMATTING RULES\nWhen generating the text for each JSON value, you MUST adhere to the following HTML formatting rules:\n\n1.  **Key Metrics & Entities:** Wrap all important quantitative data (e.g., monetary values, percentages, counts) and specific qualitative entities (e.g., product names, channel names, dates) in `<strong>` tags.\n    -   *Example:* `<strong>R74,664</strong>`, `<strong>1627%</strong>`, `<strong>'Andre Verdier Steak Knives'</strong>`.\n\n2.  **Sentiment Coloring:** Use `<span>` tags with inline `style` attributes to color-code text based on sentiment.\n    -   **Positive Sentiment (Growth, Success, Exceeding Goals):** Use `style=\"color: #28a745;\"` (a shade of green).\n    -   **Negative Sentiment (Decline, Risk, Underperforming):** Use `style=\"color: #dc3545;\"` (a shade of red).\n    -   **Neutral/Informational:** No color styling is needed.\n    -   *Example (Positive):* `a <span style=\"color: #28a745;\">significant Day-over-Day growth of <strong>1627%</strong></span>`\n    -   *Example (Negative):* `a <span style=\"color: #dc3545;\">notable <strong>25%</strong> decrease</span> in performance`\n\n3.  **Structure:** Enclose each complete thought or paragraph within `<p>` tags to ensure proper block-level display.\n\n# FINAL OUTPUT INSTRUCTIONS\n-   Return **ONLY** a valid, parseable JSON object use scape to make sure its JSON friendly.\n-   Do not include any introductory text, explanations, or markdown formatting (like ```\njson).\n-   The JSON keys must be exactly as specified below.\n-   The string values for each key MUST be the generated HTML.\n\n{\n  \"analystSummaryObservations\": \"<p>...\",\n  \"topPerformerAnalysis\": \"<p>...\",\n  \"brandProductInsights\": \"<p>...\",\n  \"channelPerformance\": \"<p>...\"\n}\n\n\nYou SHOULD: \n- SHOULD always tell the truth \n— never make up information, speculate, or guess. \n- SHOULD base all statements on verifiable, factual, and up-to-date sources. \n- SHOULD clearly cite the source of every claim in a transparent way (no vague references). \n- SHOULD explicitly state “I cannot confirm this” or \"[Provide Input Here]\" if something cannot be verified.\n- SHOULD prioritize accuracy over speed \n— take the necessary steps to verify before drafting. \n- SHOULD maintain objectivity \n— remove personal bias, assumptions, and opinion unless explicitly requested and labelled as such. \n- SHOULD only present interpretations supported by credible, reputable sources. \n- SHOULD explain reasoning step-by-step when the accuracy of an answer could be questioned. \n- SHOULD show how any numerical figure was calculated or sourced. \n- SHOULD present information clearly so the user can verify it themselves. You MUST AVOID: \n- AVOID fabricating facts, quotes, or data. - AVOID using outdated or unreliable sources without clear warning. \n- AVOID omitting source details for any claim. \n- AVOID presenting speculation, rumor, or assumption as fact. \n- AVOID using AI-generated citations that don’t link to real, checkable content. \n- AVOID answering if unsure without disclosing uncertainty. \n- AVOID making confident statements without proof. \n- AVOID using filler or vague wording to hide lack of information. \n- AVOID giving misleading partial truths by leaving out relevant context. \n- AVOID prioritizing sounding good over being correct. \n\nFailsafe Final Step (Before Providing Output): \"Is every statement in my analysis verifiable, supported by real and credible sources, free of fabrication, and transparently cited? If not, revise until it is.","maxIterations":30}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1168,288],"id":"2c4c0eb4-0f36-4ee4-b7e9-c4a2e8add934","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"analystSummaryObservations\": \"<p>...\",\n  \"topPerformerAnalysis\": \"<p>...\",\n  \"brandProductInsights\": \"<p>...\",\n  \"channelPerformance\": \"<p>...\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1424,512],"id":"1bfba69f-84c0-4289-b5cb-4e4143caf292","name":"Structured Output Parser"},{"parameters":{"sendTo":"elijahjosemirandilla@gmail.com, reporting@krdm.co.za","subject":"={{ $json.subject }}","message":"={{ $json.htmlBody }}","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2240,288],"id":"a9d0114f-89aa-46a6-89e5-c492a6907282","name":"Send a message","webhookId":"db4c2e53-c950-49c2-82fc-03b947d634ad","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"jsCode":"const rows = $json.data;\n\n// Step 1: Filter valid sales rows\nconst sales = rows\n  .filter(r => /^\\d{2}-[A-Za-z]{3}-\\d{4}$/.test(r[\"Report period: This month\"]))\n  .map(r => ({\n    date: r[\"Report period: This month\"],\n    rep: r[\"__EMPTY_4\"],\n    brand: r[\"__EMPTY_2\"],\n    product: r[\"__EMPTY_3\"],\n    invoice_credit: r[\"__EMPTY_8\"],\n    quantity: Number(r[\"__EMPTY_14\"]) || 0,\n    amount: Number(r[\"__EMPTY_15\"]) || 0\n  }));\n\n// Step 2: Group & Sum\nconst grouped = {};\nfor (const s of sales) {\n  const key = `${s.date}|${s.rep}|${s.invoice_credit}|${s.brand}|${s.product}`;\n  if (!grouped[key]) {\n    grouped[key] = { ...s };\n  } else {\n    grouped[key].quantity += s.quantity;\n    grouped[key].amount += s.amount;\n  }\n}\nlet aggregated = Object.values(grouped);\n\n// Step 3: Date filtering (max date + previous 3 days)\nconst parseDate = str => new Date(str.replace(/-/g, ' '));\n\nconst allDates = [...new Set(aggregated.map(r => r.date))].map(parseDate);\nconst maxDate = new Date(Math.max(...allDates));\n\nconst cutoff = new Date(maxDate);\ncutoff.setDate(cutoff.getDate() - 2);\n\naggregated = aggregated.filter(r => {\n  const d = parseDate(r.date);\n  return d >= cutoff && d <= maxDate;\n});\n\n// Step 4: Sort ascending by date\naggregated.sort((a, b) => parseDate(a.date) - parseDate(b.date));\n\n// Step 5: Header metrics\nconst totalAmount = aggregated.reduce((sum, r) => sum + r.amount, 0);\n\nfunction sumByField(arr, field) {\n  return arr.reduce((acc, r) => {\n    const key = r[field] || \"Unknown\";\n    acc[key] = (acc[key] || 0) + r.amount;\n    return acc;\n  }, {});\n}\n\nconst repTotals = sumByField(aggregated, \"rep\");\nconst brandTotals = sumByField(aggregated, \"brand\");\nconst productTotals = sumByField(aggregated, \"product\");\nconst dailyTotalsRaw = sumByField(aggregated, \"date\");\n\n// Format helpers\nconst formatCurrency = val => \"R\" + Math.round(val).toLocaleString(\"en-US\");\nconst formatPrettyDate = d => d.toLocaleDateString(\"en-GB\", { day: \"numeric\", month: \"long\", year: \"numeric\" });\n\nconst topRep = Object.entries(repTotals).sort((a, b) => b[1] - a[1])[0];\nconst topBrand = Object.entries(brandTotals).sort((a, b) => b[1] - a[1])[0];\nconst topProduct = Object.entries(productTotals).sort((a, b) => b[1] - a[1])[0];\n\n// Step 6: Day-on-Day details\nlet dod = null;\nlet previousDaySales = [];\nconst maxDateStr = aggregated.find(r => parseDate(r.date).getTime() === maxDate.getTime())?.date;\n\nconst prevDates = [...new Set(aggregated.map(r => r.date))]\n  .map(parseDate)\n  .filter(d => d < maxDate)\n  .sort((a, b) => b - a);\n\nif (prevDates.length > 0) {\n  const prevDate = prevDates[0];\n\n  const currentDateAmount = aggregated\n    .filter(r => r.date === maxDateStr)\n    .reduce((sum, r) => sum + r.amount, 0);\n\n  const prevDateStr = aggregated.find(r => parseDate(r.date).getTime() === prevDate.getTime())?.date;\n  const prevDateAmount = aggregated\n    .filter(r => r.date === prevDateStr)\n    .reduce((sum, r) => sum + r.amount, 0);\n\n let change = null;\nlet trend = \"-\";\nlet color = \"#000000\";\nif (prevDateAmount > 0) {\n  change = Math.round(((currentDateAmount - prevDateAmount) / prevDateAmount) * 100);\n\n  if (change > 0) {\n    trend = \"↑\";\n    color = \"#1cc88a\"; // green\n  } else if (change < 0) {\n    trend = \"↓\";\n    color = \"#FF5050\"; // red\n  } else {\n    trend = \"-\";\n    color = \"#808080\"; // gray\n  }\n}\n\n  dod = {\n    currentDate: maxDateStr,\n    currentAmount: formatCurrency(currentDateAmount),\n    previousDate: prevDateStr,\n    previousAmount: formatCurrency(prevDateAmount),\n    change: change !== null ? change + \"%\" : null,\n    trend,\n    color\n  };\n\n  // Previous day sales table\n  previousDaySales = aggregated.filter(r => r.date === prevDateStr)\n    .map(r => ({ ...r, amount: formatCurrency(r.amount) }));\n}\n\n// Step 7: Format sales table (amount → currency)\naggregated = aggregated.map(r => ({\n  ...r,\n  amount: formatCurrency(r.amount)\n}));\n\n// Step 8: Format daily totals\nconst dailyTotals = {};\nfor (const [date, amt] of Object.entries(dailyTotalsRaw)) {\n  dailyTotals[date] = formatCurrency(amt);\n}\n\n// Step 9: Add startDate and endDate\nconst filteredDates = [...new Set(aggregated.map(r => r.date))].map(parseDate).sort((a, b) => a - b);\nconst startDate = formatPrettyDate(filteredDates[0]);\nconst endDate = formatPrettyDate(filteredDates[filteredDates.length - 1]);\n\n// Step 10: Return\nreturn [{\n  json: {\n    header: {\n      startDate,\n      endDate,\n      totalAmount: formatCurrency(totalAmount),\n      topRep: { name: topRep?.[0], amount: formatCurrency(topRep?.[1]) },\n      topBrand: { name: topBrand?.[0], amount: formatCurrency(topBrand?.[1]) },\n      topProduct: { name: topProduct?.[0], amount: formatCurrency(topProduct?.[1]) },\n      dailyTotals,\n      dod\n    },\n    sales: aggregated,\n    previousDaySales\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,288],"id":"0fb1b1b5-a2ca-4728-8235-ce61bd898f43","name":"CleanSales"},{"parameters":{"url":"={{ $('Extract Link').item.json.downloadUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,288],"id":"eee60a17-3677-416d-96a5-43d6e0314d1a","name":"Download File2"},{"parameters":{"assignments":{"assignments":[{"id":"cb60c160-de0d-4b6a-a290-cf8e037ed71d","name":"htmlBody","value":"=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Executive Sales Summary</title>\n    <!--[if mso]>\n    <xml>\n        <o:OfficeDocumentSettings>\n            <o:AllowPNG/>\n            <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n    </xml>\n    <![endif]-->\n    <style>\n      .button {\n        display: inline-block;\n        padding: 12px 24px;\n        background-color: #4e73df;\n        color: white;\n        text-decoration: none;\n        border-radius: 4px;\n        font-weight: 600;\n        font-size: 14px;\n        text-align: center;\n      }\n      .card-icon {\n        width: 24px;\n        height: 24px;\n        display: block;\n      }\n    </style>\n  </head>\n  <body\n    style=\"margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #f8f9fa;\">\n    <!-- Centered wrapper for entire email -->\n    <center>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n        style=\"background-color: #f8f9fa;\">\n        <tr>\n          <td align=\"center\" style=\"padding: 30px 10px;\">\n            <!-- Main content container with max-width for larger screens -->\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n              style=\"max-width: 650px; background-color: #ffffff; border-radius: 12px; box-shadow: 0 5px 15px rgba(0,0,0,0.08);\">\n\n              <!-- PREHEADER TEXT (Visible in email inbox preview) -->\n              <tr>\n                <td style=\"padding: 0; margin: 0; font-size: 0; line-height: 0;\"\n                  height=\"1\" bgcolor=\"#f8f9fa\">\n                  <div\n                    style=\"display: none; max-height: 0px; overflow: hidden;\">\n                    Daily Executive Sales Performance Summary for {{\n                    $('CleanSales').item.json.header.startDate }} - {{\n                    $('CleanSales').item.json.header.endDate }} - {{\n                    $('CleanSales').item.json.header.totalAmount }} in total\n                    sales with {{ $('CleanSales').item.json.header.dod.change }}\n                    growth\n                  </div>\n                </td>\n              </tr>\n\n              <!-- HEADER WITH LOGO AND TITLE -->\n              <tr>\n                <td\n                  style=\"padding: 25px 30px 20px; background: linear-gradient(to right, #ffffff, #f8f9fa); border-bottom: 1px solid #eaeaea;\">\n                  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                    <tr>\n                      <!-- LOGO CELL -->\n                      <td width=\"80\" valign=\"middle\"\n                        style=\"padding-right: 15px;\">\n                        <img\n                          src=\"https://cdn.corenexis.com/files/b/88763842160.png\"\n                          alt=\"KRDM Logo\" width=\"70\"\n                          style=\"display: block; border: 0; border-radius: 6px;\" />\n                      </td>\n                      <!-- TITLE CELL -->\n                      <td valign=\"middle\">\n                        <h1\n                          style=\"font-size: 22px; margin: 0; font-weight: 700; font-family: Arial, Helvetica, sans-serif; color: #2d3e50;\">Daily\n                          Sales Performance Summary</h1>\n                        <p\n                          style=\"font-size: 14px; margin: 5px 0 15px 0; color: #6c757d;\">Date\n                          Range: {{ $('CleanSales').item.json.header.startDate\n                          }} to {{ $('CleanSales').item.json.header.endDate\n                          }}</p>\n                        <a href=\"https://app.powerbi.com/groups/me/apps/d4d8f65d-49f9-4275-a29c-2681cc9a7aee/reports/225e3531-5ce4-4767-a663-342a15cf0784/c6983a219ab3a3cbfff7?ctid=c5cbf37b-5285-4e6e-875c-0e7b1d421968&experience=power-bi\"\n                          class=\"button\">View Sales Report</a>\n                      </td>\n                    </tr>\n                  </table>\n                </td>\n              </tr>\n\n              <!-- INTRO SECTION -->\n              <tr>\n                <td style=\"padding: 25px 30px 15px;\">\n                  <h2\n                    style=\"font-size: 16px; color: #6c757d; margin: 0 0 8px 0; text-transform: uppercase; letter-spacing: 1px;\">Innovative\n                    Framework</h2>\n                  <p\n                    style=\"font-size: 18px; line-height: 1.5; color: #2d3e50; margin: 0; font-weight: 500;\">Sales\n                    Performance Summary</p>\n                </td>\n              </tr>\n\n              <tr> <!-- DAY-OVER-DAY GROWTH CARD -->\n                <td width=\"100%\" style=\"padding: 15px;\">\n                  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n                    style=\"background-color: #f8f9fa; border-radius: 10px; border-left: 4px solid #1cc88a; padding: 20px; box-shadow: 0 3px 10px rgba(0,0,0,0.05);\">\n                    <tr>\n                      <td align=\"center\">\n                        <p\n                          style=\"font-size: 14px; color: #6c757d; margin: 0 0 10px 0; font-weight: 600;\">DAY-OVER-DAY\n                          GROWTH</p>\n                        <p\n                          style=\"font-size: 26px; color: {{ $('CleanSales').item.json.header.dod.color }}; margin: 0; font-weight: 700;\">{{\n                          $('CleanSales').item.json.header.dod.trend }} {{\n                          $('CleanSales').item.json.header.dod.change }}</p>\n                        <p\n                          style=\"font-size: 14px; color: #6c757d; margin: 5px 0 0 0;\">Current\n                          Day {{\n                          $('CleanSales').item.json.header.dod.currentDate }} {{\n                          $('CleanSales').item.json.header.dod.currentAmount }}\n                          vs Previous Day {{\n                          $('CleanSales').item.json.header.dod.previousDate }}\n                          {{ $('CleanSales').item.json.header.dod.previousAmount\n                          }}</p>\n                      </td>\n                    </tr>\n                  </table>\n                </td>\n              </tr>\n              <!-- KPI SECTION - 2x2 GRID WITH CARDS -->\n              <tr>\n                <td style=\"padding: 0 20px 20px;\">\n                  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n\n                    <tr>\n                      <!-- TOTAL SALES CARD -->\n                      <td width=\"50%\" style=\"padding: 15px; height: 100%;\">\n                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n                          style=\"background-color: #f8f9fa; border-radius: 10px; border-left: 4px solid #36b9cc; padding: 20px; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%;\">\n                          <tr>\n                            <td>\n                              <table width=\"100%\">\n                                <tr>\n                                  <td width=\"40\" valign=\"top\">\n                                    <!-- Dollar icon -->\n                                    <img class=\"card-icon\" src=\"https://i.pinimg.com/originals/1d/6c/08/1d6c08b0f7764714ed7de334ebfab446.png\" alt=\"Total Sales\">\n                                  </td>\n                                  <td>\n                                    <p\n                                      style=\"font-size: 14px; color: #6c757d; margin: 0 0 10px 0; font-weight: 600;\">TOTAL\n                                      SALES</p>\n                                    <p\n                                      style=\"font-size: 26px; color: #2d3e50; margin: 0; font-weight: 700;\">{{\n                                        $('CleanSales').item.json.header.totalAmount\n                                        }}</p>\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                        </table>\n                      </td>\n\n                      <!-- TOP SALES REP CARD -->\n                      <td width=\"50%\" style=\"padding: 15px; height: 100%;\">\n                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n                          style=\"background-color: #f8f9fa; border-radius: 10px; border-left: 4px solid #36b9cc; padding: 20px; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%;\">\n                          <tr>\n                            <td>\n                              <table width=\"100%\">\n                                <tr>\n                                  <td width=\"40\" valign=\"top\">\n                                    <!-- Person icon -->\n                                    <img class=\"card-icon\" src=\"https://cdn-icons-png.flaticon.com/512/10744/10744462.png\" alt=\"Top Sales Rep\">\n                                  </td>\n                                  <td>\n                                    <p\n                                      style=\"font-size: 14px; color: #6c757d; margin: 0 0 10px 0; font-weight: 600;\">TOP\n                                      SALES REP</p>\n                                    <p\n                                      style=\"font-size: 18px; color: #2d3e50; margin: 0 0 5px 0; font-weight: 700;\">{{\n                                        $('CleanSales').item.json.header.topRep.name\n                                        }}</p>\n                                    <p\n                                      style=\"font-size: 14px; color: #6c757d; margin: 0;\">{{\n                                        $('CleanSales').item.json.header.topRep.amount\n                                        }} in sales</p>\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                        </table>\n                      </td>\n                    </tr>\n                    <tr>\n                      <!-- TOP BRAND CARD -->\n                      <td width=\"50%\" style=\"padding: 15px; height: 100%;\">\n                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n                          style=\"background-color: #f8f9fa; border-radius: 10px; border-left: 4px solid #36b9cc; padding: 20px; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%;\">\n                          <tr>\n                            <td>\n                              <table width=\"100%\">\n                                <tr>\n                                  <td width=\"40\" valign=\"top\">\n                                    <!-- Book icon -->\n                                    <img class=\"card-icon\" src=\"https://static.vecteezy.com/system/resources/previews/015/214/759/non_2x/brand-3d-illustration-icon-png.png\" alt=\"Top Brand\">\n                                  </td>\n                                  <td>\n                                    <p\n                                      style=\"font-size: 14px; color: #6c757d; margin: 0 0 10px 0; font-weight: 600;\">TOP\n                                      BRAND</p>\n                                    <p\n                                      style=\"font-size: 18px; color: #2d3e50; margin: 0 0 5px 0; font-weight: 700;\">{{\n                                        $('CleanSales').item.json.header.topBrand.name\n                                        }}</p>\n                                    <p\n                                      style=\"font-size: 14px; color: #6c757d; margin: 0;\">{{\n                                        $('CleanSales').item.json.header.topBrand.amount\n                                        }} in sales</p>\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                        </table>\n                      </td>\n\n                      <!-- TOP PRODUCT CARD -->\n                      <td width=\"50%\" style=\"padding: 15px; height: 100%;\">\n                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n                          style=\"background-color: #f8f9fa; border-radius: 10px; border-left: 4px solid #36b9cc; padding: 20px; box-shadow: 0 3px 10px rgba(0,0,0,0.05); height: 100%;\">\n                          <tr>\n                            <td>\n                              <table width=\"100%\">\n                                <tr>\n                                  <td width=\"40\" valign=\"top\">\n                                    <!-- Shopping bag icon -->\n                                    <img class=\"card-icon\" src=\"https://cdn3d.iconscout.com/3d/premium/thumb/product-5806313-4863042.png\" alt=\"Top Product\">\n                                  </td>\n                                  <td>\n                                    <p\n                                      style=\"font-size: 14px; color: #6c757d; margin: 0 0 10px 0; font-weight: 600;\">TOP\n                                      PRODUCT</p>\n                                    <p\n                                      style=\"font-size: 18px; color: #2d3e50; margin: 0 0 5px 0; font-weight: 700;\">{{ $('CleanSales').item.json.header.topProduct.name }}</p>\n                                    <p\n                                      style=\"font-size: 14px; color: #6c757d; margin: 0;\">\n                                      {{ $('CleanSales').item.json.header.topProduct.amount }} in sales</p>\n                                  </td>\n                                </tr>\n                              </table>\n                            </td>\n                          </tr>\n                        </table>\n                      </td>\n                    </tr>\n                  </table>\n                </td>\n              </tr>\n\n              <!-- ANALYST SUMMARY SECTION -->\n              <tr>\n                <td style=\"padding: 10px 30px 25px;\">\n                  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n                    style=\"background-color: #f8f9fa; border-radius: 10px; padding: 25px; box-shadow: 0 3px 10px rgba(0,0,0,0.05);\">\n                    <tr>\n                      <td>\n                        <h2\n                          style=\"font-size: 20px; color: #2d3e50; margin: 0 0 20px 0; padding-bottom: 10px; border-bottom: 2px solid #eaeaea; font-weight: 700;\">Analyst's\n                          Summary & Observations</h2>\n\n                        <!-- AI DISCLAIMER -->\n                        <div class=\"disclaimer\">\n                          <p class=\"disclaimer-text\">\n                            <strong>AI-Generated Analysis:</strong> This summary is created by our AI Analyst based on available data. Some details might not be 100% accurate. Please refer to the attached Excel sheet for actual MTD numbers or visit the Sales Performance Dashboard for verified data.\n                          </p>\n                        </div>\n\n\n                        <p\n                          style=\"font-size: 16px; line-height: 1.6; color: #444444; margin: 0 0 20px 0;\">{{\n                          $json.output.analystSummaryObservations }}\n\n                        </p>\n\n                        <!-- BULLET POINTS -->\n                        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"\n                          style=\"margin: 20px 0;\">\n                          <tr>\n                            <td width=\"30\" valign=\"top\"\n                              style=\"padding-right: 10px; padding-top: 4px;\">\n                              <div\n                                style=\"width: 20px; height: 20px; background-color: #4e73df; border-radius: 50%; text-align: center; line-height: 20px; color: white; font-size: 12px;\">1</div>\n                            </td>\n                            <td\n                              style=\"font-size: 16px; line-height: 1.6; color: #444444; padding-bottom: 15px;\">\n                              <strong style=\"color: #2d3e50;\">Top Performer\n                                Analysis:</strong> {{\n                              $json.output.topPerformerAnalysis }}\n                            </td>\n                          </tr>\n                          <tr>\n                            <td width=\"30\" valign=\"top\"\n                              style=\"padding-right: 10px; padding-top: 4px;\">\n                              <div\n                                style=\"width: 20px; height: 20px; background-color: #1cc88a; border-radius: 50%; text-align: center; line-height: 20px; color: white; font-size: 12px;\">2</div>\n                            </td>\n                            <td\n                              style=\"font-size: 16px; line-height: 1.6; color: #444444; padding-bottom: 15px;\">\n                              <strong style=\"color: #2d3e50;\">Brand & Product\n                                Insights:</strong> {{\n                              $json.output.brandProductInsights }}\n                            </td>\n                          </tr>\n                          <tr>\n                            <td width=\"30\" valign=\"top\"\n                              style=\"padding-right: 10px; padding-top: 4px;\">\n                              <div\n                                style=\"width: 20px; height: 20px; background-color: #36b9cc; border-radius: 50%; text-align: center; line-height: 20px; color: white; font-size: 12px;\">3</div>\n                            </td>\n                            <td\n                              style=\"font-size: 16px; line-height: 1.6; color: #444444;\">\n                              <strong style=\"color: #2d3e50;\">Channel\n                                Performance:</strong> {{\n                              $json.output.channelPerformance }}\n                            </td>\n                          </tr>\n                        </table>\n\n                        <p\n                          style=\"font-size: 16px; line-height: 1.6; color: #444444; margin: 20px 0 0 0; font-style: italic;\">\n                          The complete transaction log for the reporting period\n                          is included in the attached Excel file.\n                        </p>\n                      </td>\n                    </tr>\n                  </table>\n                </td>\n              </tr>\n\n              <!-- FOOTER WITH COPYRIGHT -->\n              <tr>\n                <td\n                  style=\"padding: 25px 30px; background-color: #2d3e50; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; text-align: center;\">\n                  <p\n                    style=\"font-size: 14px; color: #ffffff; margin: 0 0 10px 0;\">\n                    © 2025 KRDM Reporting Team. All rights reserved.\n                  </p>\n                  <p style=\"font-size: 12px; color: #a0aec0; margin: 0;\">\n                    This report contains confidential information intended only\n                    for authorized personnel.\n                  </p>\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n      </table>\n    </center>\n  </body>\n</html>","type":"string"},{"id":"f741333d-5ca6-448c-b8b0-d1c02f15e45e","name":"subject","value":"=KRDM Daily Sales Performance Report: {{ $('CleanSales').item.json.header.startDate }} - {{ $('CleanSales').item.json.header.endDate }}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,288],"id":"8cf4f5df-bfb8-4bd5-a5c4-7e9c3166f4c1","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1424,720],"id":"cbac3c48-36ce-4732-964e-aa9ea2e7c99b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"nlD0PiesJ3ayPGdm","name":"OpenAi account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1040,512],"id":"f3934168-fe6c-43f8-9346-85da0034d9f7","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1504,720],"id":"73e3fe0e-0cbf-4247-b4be-1135326360ba","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01168d06-e8b3-4ba7-94bc-e739d6c1731c","leftValue":"={{ +$now.format('hh') }}","rightValue":20,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,288],"id":"08f56e89-79e4-468c-be62-75e25d86ea35","name":"If5am"}],"connections":{"Spreadsheet File":{"main":[[{"node":"Set Filename","type":"main","index":0}]]},"IF Exists":{"main":[[{"node":"Update file","type":"main","index":0}],[{"node":"Upload file","type":"main","index":0}]]},"Set Filename":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Extract Link":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Extract Link","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"If5am","type":"main","index":0}]]},"Update file":{"main":[[]]},"Upload file":{"main":[[]]},"Extract from File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"CleanSales","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Download File2","type":"main","index":0}]]},"CleanSales":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"If5am":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"meta":{"templateCredsSetupCompleted":true}}