2025/09/27/f0AXXuqlbyDdIE6A.json
{"nodes":[{"parameters":{},"id":"090af39d-b6f1-4077-aeb2-e283ec00e92b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,0]},{"parameters":{"url":"=https://www.googleapis.com/customsearch/v1?key=AIzaSyABga5fP5H-klSPRp2nUEFFJwSMjG8f0sU&cx=97eb3bad7e3d44b9e&q=site:linkedin.com/in/CEO+real+estate+Chicago&num=10&start={{ $json.start }}\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}]},"options":{}},"id":"390eba0b-5cae-40ea-b9cb-b8ff50b58284","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,0]},{"parameters":{"jsCode":"let start = 0;  // Initial page\nconst limit = 100;  // Limit to fetch 500 profiles (adjust as needed)\nconst batchSize = 10;  // Google Search returns 100 results per page\nconst output = [];\n\n// Loop through pages by increments of 100\nwhile (start < limit) {\n  output.push({ json: { start: start } });\n  start += batchSize;  // Increment by 100 for each page\n}\n\nreturn output;\n"},"id":"48049a68-79a3-4721-b8be-a722fbf1616f","name":"Pagination","type":"n8n-nodes-base.code","typeVersion":2,"position":[48,0]},{"parameters":{"options":{}},"id":"c78e3149-975c-4b5f-8557-b5212dcdf882","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,0]},{"parameters":{"jsCode":"// Get the items array from the response\nconst items = $json[\"items\"];  // Access the items array directly from the response\n\n// Create an empty array to store the extracted URLs\nconst output = [];\n\nif (items && items.length > 0) {\n  // Loop over each item in the array and extract the 'link'\n  for (const item of items) {\n    if (item.link) {\n      // Push each extracted URL as a separate item in the output\n      output.push({\n        json: {\n          url: item.link,\n        }\n      });\n    }\n  }\n}\n\nreturn output;  // Return the array of URL items\n"},"id":"a53b53cd-db61-49cd-bc66-4ca368e9185a","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0],"alwaysOutputData":false},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1XhUj70j7GgQIgzVKeh6IOHW27ZSX-bG44cM0S8NH5vQ","mode":"list","cachedResultName":"Profiles","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XhUj70j7GgQIgzVKeh6IOHW27ZSX-bG44cM0S8NH5vQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Url","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XhUj70j7GgQIgzVKeh6IOHW27ZSX-bG44cM0S8NH5vQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"URL":"={{ $json.url }}"},"matchingColumns":["URL"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"69cb55e2-972d-4c60-85e8-63b43cbe3d56","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[944,0],"credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pagination","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Pagination":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"meta":{"templateCredsSetupCompleted":true}}