2025/09/27/pK8DVscdAIQpwnMr.json
{"nodes":[{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"id":"8032c18c-02c4-4002-8f1e-3a82cbd8aa90","name":"CreateGoogleDoc","type":"n8n-nodes-base.httpRequest","position":[1216,32],"notesInFlow":true,"typeVersion":4.2,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","type":"string","value":"={{ $('Code').item.json.projectTitle }}"},{"id":"f9703662-f8c1-4562-ac76-5514bada5439","name":"google_drive_folder_id","type":"string","value":"={{ $('Create folder').item.json.id }}"}]},"options":{}},"id":"6892ba80-f605-465f-8365-8a0118586689","name":"set_fields","type":"n8n-nodes-base.set","position":[768,32],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.google_drive_folder_id;\nconst htmlContent = $('Markdown').first().json.html_content;\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n\n    h2 {\n      margin-top: 20pt;\n    }\n\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${htmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"},"id":"42bea53d-f3b6-45a0-b8d5-33405007ef10","name":"Prepare_Request","type":"n8n-nodes-base.code","position":[992,32],"typeVersion":2},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $('Code').item.json.documentation }}","destinationKey":"html_content","options":{"emoji":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[544,32],"id":"545803eb-4ffa-42df-a313-9177e6ffc759","name":"Markdown"},{"parameters":{"resource":"folder","name":"={{ $json.projectTitle }} {{ $now.format('t dd-MM-yyyy') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1uocOYwf3gRw5r48HiOwwRf2SZdC8f8NL","mode":"list","cachedResultName":"Technical Documentation","cachedResultUrl":"https://drive.google.com/drive/folders/1uocOYwf3gRw5r48HiOwwRf2SZdC8f8NL"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,32],"id":"9c0636e8-7844-41a1-b6e0-ee4966c93878","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,32],"id":"9b6ee0b3-401c-46b8-a403-7e06896ffec6","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"daece600-57fb-48df-88cf-d2793170449f","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,128]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"=Technical documentation has been created successfully, here's documentation link: https://docs.google.com/document/d/{{ $('CreateGoogleDoc').item.json.id }}/edit?tab=t.0","type":"string"}]},"options":{}},"id":"3145a0be-692c-4d8f-9953-4459f480d8e7","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,-112]},{"parameters":{"jsCode":"return [\n  {\n    json: (() => {\n      const raw = $input.first().json.query;\n\n      // Utility: safe JSON.parse\n      const safeParse = (str) => {\n        try {\n          return JSON.parse(str);\n        } catch {\n          return null;\n        }\n      };\n\n      let cleaned = typeof raw === \"string\" ? raw.trim() : raw;\n\n      let parsed = null;\n\n      // 1️⃣ Direct parse\n      if (!parsed) parsed = safeParse(cleaned);\n\n      // 2️⃣ Parse after unescaping newlines\n      if (!parsed && typeof cleaned === \"string\") {\n        parsed = safeParse(cleaned.replace(/\\\\n/g, \"\\n\"));\n      }\n\n      // 3️⃣ Parse twice (in case it's double-encoded JSON)\n      if (!parsed) {\n        const once = safeParse(cleaned);\n        if (typeof once === \"string\") {\n          parsed = safeParse(once);\n        } else if (once) {\n          parsed = once;\n        }\n      }\n\n      // 4️⃣ Last resort: regex extractor\n      if (!parsed && typeof cleaned === \"string\") {\n        const projMatch = cleaned.match(/\"projectTitle\"\\s*:\\s*\"([^\"]+)\"/);\n        const docMatch = cleaned.match(/\"documentation\"\\s*:\\s*\"([\\s\\S]*?)\",\\s*\"flowchart\"/);\n        const flowMatch = cleaned.match(/\"flowchart\"\\s*:\\s*\"([\\s\\S]*?)\"\\s*}/);\n\n        parsed = {\n          projectTitle: projMatch ? projMatch[1] : null,\n          documentation: docMatch ? docMatch[1].replace(/\\\\n/g, \"\\n\") : null,\n          flowchart: flowMatch ? flowMatch[1].replace(/\\\\n/g, \"\\n\") : null,\n        };\n      }\n\n      // Final cleanup (remove ``` fences from flowchart if present)\n      if (parsed && parsed.flowchart) {\n        parsed.flowchart = parsed.flowchart\n          .replace(/^```(mermaid)?/i, \"\")\n          .replace(/```$/, \"\")\n          .trim();\n      }\n\n      // Return structured result or error\n      if (parsed && (parsed.projectTitle || parsed.documentation || parsed.flowchart)) {\n        return {\n          projectTitle: parsed.projectTitle || null,\n          documentation: parsed.documentation || null,\n          flowchart: parsed.flowchart || null,\n        };\n      } else {\n        return { error: \"Could not extract fields\", raw: cleaned };\n      }\n    })()\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,32],"id":"e9cd6298-ce79-43a8-8818-98e02bed6eb3","name":"Code"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"538fc29d-2693-4c62-9848-bdcaf8566909","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('Create folder').item.json.id }}"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"fd73ea81-119b-40a6-842c-c8163e00746b","name":"Filter","type":"n8n-nodes-base.filter","position":[1664,-112],"typeVersion":2.2},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"65df2de7-ae13-4ca0-86fa-52521b85871f","name":"delete folder","type":"n8n-nodes-base.googleDrive","position":[1888,-112],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Code').item.json.projectTitle }}","filter":{"folderId":{"__rl":true,"value":"1uocOYwf3gRw5r48HiOwwRf2SZdC8f8NL","mode":"list","cachedResultName":"Technical Documentation","cachedResultUrl":"https://drive.google.com/drive/folders/1uocOYwf3gRw5r48HiOwwRf2SZdC8f8NL"}},"options":{}},"id":"34e92b0e-e6ea-4ae8-8187-c2b07865259c","name":"Get folders","type":"n8n-nodes-base.googleDrive","position":[1440,-112],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"SHdUoW6jLWdw0N71","name":"Google Drive account"}}}],"connections":{"CreateGoogleDoc":{"main":[[{"node":"Get folders","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"set_fields":{"main":[[{"node":"Prepare_Request","type":"main","index":0}]]},"Prepare_Request":{"main":[[{"node":"CreateGoogleDoc","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"set_fields","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Filter":{"main":[[{"node":"delete folder","type":"main","index":0}]]},"Get folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"delete folder":{"main":[[{"node":"Success","type":"main","index":0}]]}},"meta":null}