2025/09/24/27f4SO9dAeDfS0Sa.json
{"nodes":[{"parameters":{"inputText":"={{ $('Gmail Trigger').item.json.html || $('Gmail Trigger').item.json.text || \"NA\" }}\n","categories":{"categories":[{"category":"High Priority","description":"This label should be applied to contents that require immediate attention due to time-sensitive content, critical issues, or urgent decision-making, such as messages containing deadlines, emergency situations, or urgent requests from key stakeholders (e.g., management, clients). Examples include project delays, system outages, or urgent meeting requests where a delay in response could lead to significant consequences."},{"category":"Finance Related","description":"Apply this label to contents discussing financial matters, including budgets, expenses, investments, or financial reports, which are relevant for both personal finances (e.g., bank statements) and professional contexts (e.g., quarterly revenue updates). This category may include updates on company financial performance, personal investment opportunities, or general monetary advice that requires careful review but not immediate action 913."},{"category":"Action Required","description":"Use this label for contents that explicitly request specific tasks, responses, or follow-ups from the recipient, such as requests for documentation, approvals, or updates on ongoing projects. This category often includes contents that require you to complete a form, provide information, or take concrete steps before a specified deadline, whether they are work-related (e.g., task assignments) or personal (e.g., verifying account details)."},{"category":"Billing","description":"This category specifically covers contents related to billing statements. It includes both personal (e.g., utility bills) and work-related content (e.g., client invoices), particularly when they involve monetary obligations or records that need to be tracked or reconciled 913."},{"category":"Promotion","description":"Use this for promotional contents, marketing materials, sales offers, job opportunities, new job opening, or newsletters that aim to advertise products, services, or events, such as discounts, product launches, or seasonal campaigns. These are often non-urgent and can include both personal (e.g., retail offers) and work-related promotions (e.g., industry webinars), but they should not contain time-critical actions unless explicitly stated"},{"category":"OTP","description":"Reserve this label for contents containing one-time passwords, verification codes, or security authentication requests, which are typically time-sensitive and critical for accessing accounts or confirming identities. These messages often come from automated systems and require quick handling to ensure security, though they are usually not lengthy or complex in content 13."}]},"options":{"fallback":"other","enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-2256,1200],"id":"c68fbb9e-2bde-45d4-a753-5e1445e55e29","name":"Text Classifier","alwaysOutputData":false},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-2192,1552],"id":"13f84f80-563e-4ffc-9be8-7b01b03206ce","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"inputText":"={{ $('Gmail Trigger').item.json.html }}","categories":{"categories":[{"category":"Incoming","description":"This is a sub-label under Finance Related for any email that involves money coming into your accounts. This helps you track payments you're receiving or revenue you're generating, ensuring you can easily confirm when money has arrived.\n\nExamples:\n- Client payments or invoices you've sent\n- Refund confirmations\n- Notifications of incoming salary or bonuses"},{"category":"Outgoing","description":"This is the second sub-label under Finance Related for any email that involves money leaving your accounts. It's a great way to monitor your expenses, keep track of payments you've made, and ensure you're paying your bills on time.\n\nExamples:\n- Payment confirmations for bills or services\n- Invoices you've received that need to be paid\n- Purchase receipts"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-1232,512],"id":"36ad4604-485b-4fbd-8ca5-7be5918dbcc0","name":"Text Classifier Finance Related"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_8642445835507916682"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1168,16],"id":"87344f3f-e5aa-40eb-8a4b-3b7c7f4b7938","name":"High Priority","webhookId":"f5720b8a-fc21-4bd2-b95a-6762f7ea3cfc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_526912622839653477"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[704,656],"id":"8244aefa-b752-41de-9bb8-7a8dd476284b","name":"Finance Incoming","webhookId":"f5720b8a-fc21-4bd2-b95a-6762f7ea3cfc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_6191678655417280297"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[704,944],"id":"20092a98-478d-4ea9-84c4-a71919c786d8","name":"Finance Outgoing","webhookId":"f5720b8a-fc21-4bd2-b95a-6762f7ea3cfc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_6479740929563289995"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1168,912],"id":"56443a90-5232-4a6e-aad6-354cd3cc671c","name":"Action Required","webhookId":"f5720b8a-fc21-4bd2-b95a-6762f7ea3cfc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_2136504404222363725"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1168,1344],"id":"130e8aed-9f68-4696-a76e-47f77db787cf","name":"Billing","webhookId":"f5720b8a-fc21-4bd2-b95a-6762f7ea3cfc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_1069985932481125544"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1168,2144],"id":"3adb2e95-8fa2-4400-8cb0-7bd1649db66d","name":"Promotion","webhookId":"f5720b8a-fc21-4bd2-b95a-6762f7ea3cfc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"Run the task.","hasOutputParser":true,"options":{"systemMessage":"=You are an AI assistant integrated into an n8n workflow. Your job is to analyze a single incoming email and produce a JSON output using only the keys below. Return only valid JSON (no prose, no explanations).\n\nInputs available in the workflow (use these values in your analysis):\n- Label: {{ $('Final Label').item.json.Label }}\n- Sublabel: \"NA\"\n- ID: {{ $('Gmail Trigger').item.json.id }}\n- Subject: {{ $('Gmail Trigger').item.json.headers.subject }}\n- Received Date/Time (raw header): {{ $('Gmail Trigger').item.json.headers.date }}\n- From: {{ $('Gmail Trigger').item.json.headers.from }}\n- Content (plain text or HTML converted to text): {{ $('Gmail Trigger').item.json.html || $('Gmail Trigger').item.json.text || \"NA\" }}\n- Sent message history (use to mimic user's voice when drafting): the node named Get many messages in Gmail contains prior Sent messages for this user. Use it to match tone, signature style, and typical phrasing.\n\nGeneral rules\n1. Only supply values if you can extract them confidently from the email or provided nodes. If a value is not available or cannot be determined, set it exactly to the string \"NA\".\n2. \"draftemail\" must be a full html body reply from the content it should be json friendly.\n3. Summary: 1-3 sentences. Straight to the point.\n4. Status: choose one of the following exact values only:\n   - \"requires_reply\" (needs user response)\n   - \"for_filing\" (informational, no reply needed)\n   - \"spam\" (obvious spam or phishing)\n   - \"auto_action\" (actioned automatically, e.g., subscription confirmation handled)\n   - \"follow_up\" (requires follow up later)\n   - \"NA\" (cannot decide)\n5. Type: {{ $('Final Label').item.json.Label }}\n6. Biller: extract the biller/payee name if the email is payment/invoice-related. Otherwise \"NA\".\n7. \"messagetouser\": one short sentence recommending the next step (e.g., \"Please approve payment\", \"No action required, file\", \"Mark as spam and delete\"). If uncertain, \"NA\".\n8. Keep tone professional and conversational. Do not use marketing buzzwords.\n9. Always validate the final JSON: keys must exactly match the schema below in the same order.\n\nRequired output JSON schema and example\nReturn exactly this structure (keys must be present in this order):\n\n{\"output\":\n  {\n  \"summary\": \"...\",\n  \"draftemail\": \"<p>Hi</p>...\",\n  \"status\": \"...\",\n  \"type\": \"{{ $('Final Label').item.json.Label }}\",\n  \"biller\": \"...\",\n  \"messagetouser\": \"...\"\n}\n}\n\n\nEdge cases and parsing notes\n- If Content is HTML, extract visible text only. Ignore tracking pixels and hidden boilerplate.\n- If the email includes a payment link but no clear biller name, set \"type\": \"payment\" and \"biller\": \"NA\".\n- If the email looks like phishing (requests credentials, urgent threats, mismatched sender domain), set \"status\": \"spam\" and \"draftemail\": \"NA\".\n- If you detect calendar invites or appointment times, set \"type\": \"appointment\" and summarize the date/time.\n- For ambiguous or multi-topic emails, choose the primary intent. If no primary intent, set \"type\": \"unknown\" and \"status\": \"NA\".\n- Extract the canonical sender email if possible. Put it in \"from\". If only a display name is present, use the display name.\n\nTone and voice for drafts\n- Mimic the user by using short paragraphs, concise language, and the same signature style found in the Get many messages in Gmail Sent history. If Sent history is empty or not accessible, use a neutral, professional signoff: \"Thanks,\\nElijah\".\n\nValidation\n- Output must be parseable JSON with the exact keys and no additional fields.\n- If you cannot safely determine any value, use \"NA\" for that field.\n\nNow analyze the provided input fields and return the JSON only."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-576,48],"id":"8a82989f-5abf-4371-b532-c3486c649498","name":"AI Agent","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-880,272],"id":"efd7ac9d-e2cc-42bc-8ef2-5c5e0b93fcc4","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-752,272],"id":"fc3b4861-ba46-4a83-a46f-036e91d97397","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-624,272],"id":"7fbf2e7c-64b6-47e8-a93a-3a786f947113","name":"Calculator"},{"parameters":{"jsonSchemaExample":"{\"output\":\n  {\n  \"summary\": \"...\",\n  \"draftemail\": \"...\",\n  \"status\": \"...\",\n  \"type\": \"...\",\n  \"biller\": \"...\",\n  \"messagetouser\": \"...\"\n}\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-112,272],"id":"a8520ced-88c3-4022-96b1-f9b5e76ea9bc","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-32,480],"id":"1be705c6-3064-4215-b026-7db118303915","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Run the task.","hasOutputParser":true,"options":{"systemMessage":"=You are a Finance Inbox Manager for a single user. Your task is to analyze each incoming email and return a structured JSON. Do not produce explanations, notes, or extra text outside the JSON.\n\nInputs available:\n- Label: {{ $('Final Label').item.json.Label }}\n- Sublabel: {{ $('Final Sublabel').item.json.Sublabel }}\n- ID: {{ $('Gmail Trigger').item.json.id }}\n- Subject: {{ $('Gmail Trigger').item.json.headers.subject }}\n- Received Date/Time: {{ $('Gmail Trigger').item.json.headers.date }}\n- From: {{ $('Gmail Trigger').item.json.headers.from }}\n- Content: {{ $('Gmail Trigger').item.json.html || $('Gmail Trigger').item.json.text || \"NA\" }}\n\nSteps:\n\n- You will send a message in Telegram using the tool \"Send a text message in Telegram Finance\". From the content above, act like a financial manager and write in a conversational tone that feels like a helpful reminder. First, is the details of the new income or expense that arrived base on content above then get historical record from tool \"Get row(s) in sheet in Google Sheets\", and include the date received, type, and total amount in PHP. Then, summarize all historical entries where  grouped by date received and sum amount. At the end, provide the total incoming and outgoing (expense) amount in PHP. The message should be informative and clear, without expecting a reply from the user.\n\n- You will use tool again \"Get row(s) in sheet in Google Sheets\" and check if similar record is present map using date, from and the amount if present then ispresent should be true else false.\n\n- You will output exact json as below with the new details from content above this is critical and format must be follow:\n\n  {\n    \"dateTimeReceived\": \"2025-08-24T15:30:00Z\",\n    \"subject\": \"Money received\",\n    \"from\": \"billing@utilityprovider.com\",\n    \"summary\": \"You received incoming money from gcash.\",\n    \"type\": \"Incoming/ Outgoing\",\n    \"biller\": \"Gcash\",\n    \"amount\": \"100\",\n    \"ispresent\": true\n  }\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1184,848],"id":"601d179c-eae0-41a6-b6dd-feaf8b55248a","name":"AI Agent1","retryOnFail":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[928,1072],"id":"0cc67d80-694f-4658-ae0d-83b5aba71908","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\"output\":\n  {\n    \"dateTimeReceived\": \"2025-08-24T15:30:00Z\",\n    \"subject\": \"Monthly Utility Bill\",\n    \"from\": \"billing@utilityprovider.com\",\n    \"summary\": \"Your August electricity bill is now available.\",\n    \"type\": \"Incoming/ Outgoing\",\n    \"biller\": \"Electric Company\",\n    \"amount\": \"100\",\n    \"ispresent\": true\n  }\n}\n","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1568,1072],"id":"7710fd5a-9198-4333-9141-263d452940e2","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1648,1280],"id":"03d2e25b-5fa9-493d-bff2-7d7cd2b84f96","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1056,1072],"id":"50d43c36-baa7-417b-860b-f997386c7aac","name":"Think1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1184,1072],"id":"37fa19bb-6081-4243-86db-c77faa0726cc","name":"Calculator1"},{"parameters":{"resource":"draft","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-496,272],"id":"893ca022-ea04-459b-ba42-be6e6d75e2df","name":"Create a draft in Gmail","webhookId":"66084e4c-8dee-4a00-863d-07ff7fb5699d","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1168,736],"id":"902e60b5-55bb-4fe8-9382-07458db2f077","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-368,272],"id":"c97527ed-849c-4303-b5b0-ea0dde8a4b3f","name":"Send a message in Gmail","webhookId":"2535af72-03e1-4b27-8162-56a8eccab100","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Label\": \"High Priority\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,720],"id":"55fc40b9-0c09-48de-aec6-8c17a0a40e5d","name":"Label High Priority"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Label\": \"Finance Related\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,912],"id":"8a1dd5e9-a9c3-4bc0-bf7c-dab801426fac","name":"Label Financial"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Label\": \"Action Required\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,1104],"id":"955c9395-7da8-463c-b9b6-df064dea271b","name":"Label Action"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Label\": \"Promotion\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,1488],"id":"fc865bfb-e126-48be-af05-0fc0491d0dc5","name":"Label Promotion"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Label\": \"Billing\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,1296],"id":"3ac76f8b-2229-48ad-9435-f871754328aa","name":"Label Billing"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Sublabel\": \"Incoming\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,752],"id":"af10c492-162b-457b-9df2-1d8165b2f34f","name":"Sublabel Incoming"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Sublabel\": \"Outgoing\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,944],"id":"890bc3c2-c057-4f25-9661-a9b40b0dd848","name":"Sublabel Outgoing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":29838645,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit#gid=29838645"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Gmail Trigger').item.json.id }}","Date/Time Received":"={{ $('AI Agent1').item.json.output.dateTimeReceived }}","Subject":"={{ $('AI Agent1').item.json.output.subject }}","From":"={{ $('AI Agent1').item.json.output.from }}","Summary":"={{ $('AI Agent1').item.json.output.summary }}","Type":"={{ $('Final Sublabel').item.json.Sublabel }}","Amount":"={{ $json.output.amount }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date/Time Received","displayName":"Date/Time Received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2160,848],"id":"751439a3-37f6-4d7a-a173-1d7c227e3f54","name":"Append row in sheet Finance","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-2480,1200],"id":"848a77f6-c6d6-4f07-b97c-c47d135aaf0d","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"sendAndWait","chatId":"7008488531","message":"=Hi {{ $('Gmail Trigger').item.json.to.value[0].name }},\n\nYou’ve received a new email that may need your attention. I’ve prepared a draft reply for you, which is pending your approval before sending.\n\nFrom: {{ $('Gmail Trigger').item.json.headers.from.extractEmail() }}\n\nContext: {{ $('AI Agent').item.json.output.summary }}\n\nDraft Reply for Review:\n{{ $('AI Agent').item.json.output.draftemail.removeTags() }}\n\nPlease note that approval is valid for 45 minutes. No worries if you miss the window—I’ve already saved the draft for you.","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}}}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[704,352],"id":"4602a90d-c431-4156-a2e0-7b1eca496807","name":"Send message and wait for response","webhookId":"eb9022b1-19c0-4cdd-8970-f044b89ea880","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"operation":"getAll","limit":5,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-240,272],"id":"cce99f16-1f7a-4624-a7d0-749ca46c5c4f","name":"Get many messages in Gmail","webhookId":"056bf73a-a491-4de0-8a01-bfdd5951e896","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"193a3a13-1b2c-4956-992e-45aa242e5cf5","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1328,352],"id":"4e1c7ea8-dadb-4ec6-b211-16a4ff46201e","name":"If1"},{"parameters":{"resource":"draft","subject":"={{ $('Gmail Trigger').item.json.subject }}","emailType":"html","message":"={{ $json.output.draftemail }}","options":{"replyTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","threadId":"={{ $('Gmail Trigger').item.json.threadId }}","sendTo":"={{ $('Gmail Trigger').item.json.to.value[0].address }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,352],"id":"9c08fd44-4051-4d0a-a206-fb12def80a55","name":"Create a draft","webhookId":"8e9cb1a7-f90c-4d80-bd42-5ae8f007c8e5","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"method":"POST","url":"https://gmail.googleapis.com/gmail/v1/users/me/drafts/send","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $('Create a draft').item.json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,144],"id":"75fa4882-44ef-4ce4-8319-19b6ee5f81da","name":"Send Gmail Draft","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"operation":"sendChatAction","chatId":"7008488531"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2160,304],"id":"4403cabb-e356-4bca-a85b-47b74342eaf9","name":"Send a chat action","webhookId":"dda4d9c4-ef13-48a0-bb50-71a7f390987b","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Drafted Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date/Time Received":"={{ $('Gmail Trigger').item.json.date }}","Subject":"={{ $('Gmail Trigger').item.json.subject }}","From":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","Summary":"={{ $('AI Agent').item.json.output.summary }}","Draft":"={{ $('AI Agent').item.json.output.draftemail }}","Status":"Send","ID":"={{ $('Gmail Trigger').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date/Time Received","displayName":"Date/Time Received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Draft","displayName":"Draft","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2160,96],"id":"8cf83a78-b366-4042-a633-30383046df3a","name":"Append row in sheet Draft Send","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Drafted Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date/Time Received":"={{ $('Gmail Trigger').item.json.date }}","Subject":"={{ $('Gmail Trigger').item.json.subject }}","From":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","Summary":"={{ $('AI Agent').item.json.output.summary }}","Draft":"={{ $('AI Agent').item.json.output.draftemail }}","Status":"Draft Created","ID":"={{ $('Gmail Trigger').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date/Time Received","displayName":"Date/Time Received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Draft","displayName":"Draft","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1936,560],"id":"a2fa52fe-9598-4326-8366-b7427714298e","name":"Append row in sheet Draft","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"chatId":"=7008488531","text":"Thanks for approving, email has been sent.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2384,96],"id":"c1aa5e0b-e32c-4a3f-8b5f-9b0257a1cbb8","name":"Send a text message","webhookId":"f94f789f-64a1-4c93-9971-7f05fc574c88","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"chatId":"=7008488531","text":"Understood. I won’t send the email. You can review it in your Drafts folder.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2160,560],"id":"944b2f09-8104-42c8-907a-85b1b7ac769f","name":"Send a text message1","webhookId":"f94f789f-64a1-4c93-9971-7f05fc574c88","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"chatId":"7008488531","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[1312,1072],"id":"040039c4-5190-45d5-9736-41534f394053","name":"Send a text message in Telegram Finance","webhookId":"48a35e17-7db6-48b1-a1bf-b1ec320936cb","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":29838645,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit#gid=29838645"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1440,1072],"id":"5dffc16d-446c-47b8-8d0d-5a10b1815f12","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_5703189032479313252"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1168,1952],"id":"065c4196-e419-47d4-afff-752cd32c33e1","name":"OTP","webhookId":"f5720b8a-fc21-4bd2-b95a-6762f7ea3cfc","credentials":{"gmailOAuth2":{"id":"qAToCwLgJh5tw4gC","name":"Gmail account"}}},{"parameters":{"chatId":"=7008488531","text":"={{ $json.output.summary }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[256,1952],"id":"54a0112a-ec63-42e6-b1b5-b46a307b56fd","name":"Send a text message OTP","webhookId":"f94f789f-64a1-4c93-9971-7f05fc574c88","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"promptType":"define","text":"Run the task.","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful assistant that help summaries the content and provide the OTP to user.\n\nContent: {{ $('Gmail Trigger').item.json.html || $('Gmail Trigger').item.json.text || \"NA\" }}\n\n- You will output it in json format \n{\n\t\"summary\": \"...\"\n}\n\n\nexample: \n{\n\t\"summary\": \"Hi you received an OTP from Facebook: 00000. Please don't share this code to anyone.\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-576,1952],"id":"20c6c312-e235-4177-9562-cad8e8da08ea","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-624,2176],"id":"aa13f35f-5a1d-40ec-b42b-3ffdde703027","name":"Google Gemini Chat Model6","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-496,2176],"id":"2b1f6589-6f72-49e1-94fe-75b6e6aebf55","name":"Think2"},{"parameters":{"jsonSchemaExample":"{\n\t\"summary\": \"...\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-368,2176],"id":"89a4bf21-18ed-4748-ab82-7bfb799e6021","name":"Structured Output Parser2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-288,2384],"id":"8941799a-f1ae-49cd-9b7b-ee508a387426","name":"Google Gemini Chat Model7","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"84aa40f2-0a2a-41c6-9465-5775b0cdf3dc","name":"Label","value":"={{ $json.Label }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,1200],"id":"0e3b8636-ec59-425e-b51c-2f17adf50ffa","name":"Final Label"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"Label\": \"OTP\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1904,1680],"id":"4de61491-b83d-48b3-8e5e-371816a09012","name":"Label OTP"},{"parameters":{"assignments":{"assignments":[{"id":"84aa40f2-0a2a-41c6-9465-5775b0cdf3dc","name":"Sublabel","value":"={{ $json.Sublabel }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,848],"id":"9ff27581-f87f-4a2a-ad8c-54ce580c759e","name":"Final Sublabel"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Label }}","rightValue":"High Priority","operator":{"type":"string","operation":"equals"},"id":"0f3f663a-4ed2-4080-867f-470f4c1f0b49"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a4f6a0da-2f2a-4b3f-b137-061662817b11","leftValue":"={{ $json.Label }}","rightValue":"Action Required","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a89bd1a-3a85-4896-9efe-31fc8e148590","leftValue":"={{ $json.Label }}","rightValue":"Finance Related","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"07e7495c-2227-4dcc-a3b6-34079b878f43","leftValue":"={{ $json.Label }}","rightValue":"Billing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cce6e2b1-f492-4509-836d-967b9cc58a54","leftValue":"={{ $json.Label }}","rightValue":"OTP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a547253-10a1-4b60-9a9b-810855371322","leftValue":"={{ $json.Label }}","rightValue":"Promotion","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1456,1136],"id":"921d951e-ce49-4a46-b9f4-3f2b7d9d6373","name":"Switch Label"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Sublabel }}","rightValue":"Incoming","operator":{"type":"string","operation":"equals"},"id":"0ee52d8b-28ad-443f-86e1-ef2d68fecf76"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52128b97-dc97-436a-843c-eba80982eefd","leftValue":"={{ $json.Sublabel }}","rightValue":"Outgoing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[480,848],"id":"d49e3245-e1a3-489e-b484-d3f3de0fc056","name":"Switch Sublabel"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3bbef582-930b-4123-afdd-6420afca91c8","leftValue":"={{ $json.output.draftemail }}","rightValue":"NA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"7d984288-e7fe-4377-94b6-ad57dfcf729e","leftValue":"={{ $json.output.draftemail }}","rightValue":"na","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,256],"id":"aee67faf-d555-41ab-a6e1-6ce06a6f933a","name":"If2"},{"parameters":{"chatId":"7008488531","text":"=You received a {{ $('AI Agent').item.json.output.type }} email from {{ $('Gmail Trigger').item.json.from.value[0].name }}.\n\n{{ $('AI Agent').item.json.output.summary }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,160],"id":"fc5da1b4-0c24-48ef-b94a-4a4c8cd42cb6","name":"Send a text message2","webhookId":"ae785def-52de-44a1-8b6a-af123af2283c","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"promptType":"define","text":"=Run the task.","hasOutputParser":true,"options":{"systemMessage":"=You are a Finance Inbox Manager for a single user. Your task is to analyze the content and return a structured JSON. Do not produce explanations, notes, or extra text outside the JSON.\n\nInputs available:\n- Label: {{ $('Final Label').item.json.Label }}\n- ID: {{ $('Gmail Trigger').item.json.id }}\n- Subject: {{ $('Gmail Trigger').item.json.headers.subject }}\n- Received Date/Time: {{ $('Gmail Trigger').item.json.headers.date }}\n- From: {{ $('Gmail Trigger').item.json.headers.from }}\n- Content: {{ $('Gmail Trigger').item.json.html || $('Gmail Trigger').item.json.text || \"NA\" }}\n\nSteps:\n\n- You will send a message in Telegram using the tool \"Send a text message in Telegram Finance1\". From the content above, act like a financial manager and write in a conversational tone that feels like a helpful reminder. First, is the details of the new bill that arrived base on content above then get historical record from tool \"Get row(s) in sheet in Google Sheets1\", and include the date received, biller name, and total amount in PHP. Then, summarize all entries where the Status is \"Pending\", grouped by date received, biller name, and amount, prioritizing older bills. At the end, provide the total unpaid amount in PHP. The message should be informative and clear, without expecting a reply from the user.\n\n- You will use tool again \"Get row(s) in sheet in Google Sheets1\" and check if similar record is present map using biller and the amount if present then ispresent should be true else false.\n\n- You will output exact json as below with the new details from content above this is critical and format must be follow:\n\n  {\n    \"dateTimeReceived\": \"2025-08-24T15:30:00Z\",\n    \"subject\": \"Monthly Utility Bill\",\n    \"from\": \"billing@utilityprovider.com\",\n    \"summary\": \"Your August electricity bill is now available.\",\n    \"type\": \"billing\",\n    \"biller\": \"Electric Company\",\n    \"amount\": \"100\",\n    \"status\": \"Pending\",\n    \"ispresent\": true\n  }\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-576,1136],"id":"47c25575-3660-48d7-94f4-3585c2d86dff","name":"AI Agent3","retryOnFail":true},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-816,1360],"id":"2c98dc74-a98b-4ffb-99bc-24e5c6d832bf","name":"Google Gemini Chat Model8","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonSchemaExample":"{\"output\":\n  {\n    \"dateTimeReceived\": \"2025-08-24T15:30:00Z\",\n    \"subject\": \"Monthly Utility Bill\",\n    \"from\": \"billing@utilityprovider.com\",\n    \"summary\": \"Your August electricity bill is now available.\",\n    \"type\": \"billing\",\n    \"biller\": \"Electric Company\",\n    \"amount\": \"100\",\n    \"status\": \"Pending\",\n    \"ispresent\": true\n  }\n}\n","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-176,1360],"id":"bc7492bb-6e46-44ab-8bcf-bb10e7f8124b","name":"Structured Output Parser3"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,1568],"id":"d56af828-ee11-4730-b699-d0e4061f59b9","name":"Google Gemini Chat Model9","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-688,1360],"id":"17973922-19d6-42df-a104-e48134a982c3","name":"Think3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-560,1360],"id":"d47e59cf-dda5-45bb-80a6-799562725375","name":"Calculator2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1565600500,"mode":"list","cachedResultName":"Billing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit#gid=1565600500"},"columns":{"mappingMode":"defineBelow","value":{"Date/Time Received":"={{ $('AI Agent3').item.json.output.dateTimeReceived }}","Subject":"={{ $('AI Agent3').item.json.output.subject }}","From":"={{ $('AI Agent3').item.json.output.from }}","Summary":"={{ $('AI Agent3').item.json.output.summary }}","ID":"={{ $('Gmail Trigger').item.json.id }}","Biller":"={{ $('AI Agent3').item.json.output.biller }}","Amount":"={{ $json.output.amount }}","Status":"Pending"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date/Time Received","displayName":"Date/Time Received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Biller","displayName":"Biller","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,1344],"id":"7e64fde4-d590-4df6-87d5-0aa6a6115658","name":"Append row in sheet Billing1","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"chatId":"7008488531","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[-432,1360],"id":"e91470da-d628-4211-ad59-673bd0551719","name":"Send a text message in Telegram Finance1","webhookId":"48a35e17-7db6-48b1-a1bf-b1ec320936cb","credentials":{"telegramApi":{"id":"FrQbrEL75lUpyT8c","name":"Telegram Flowly"}}},{"parameters":{"documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1565600500,"mode":"list","cachedResultName":"Billing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit#gid=1565600500"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-304,1360],"id":"f6ca46ac-6baf-4d7e-864f-872b9ca706ad","name":"Get row(s) in sheet in Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"188bbe6c-df8e-404c-80e2-f1c659889a68","leftValue":"={{ $json.output.ispresent }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,1344],"id":"dfd10ee1-6417-4a4d-814e-170ca77bdc7f","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"188bbe6c-df8e-404c-80e2-f1c659889a68","leftValue":"={{ $json.output.ispresent }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"f03bb720-e7a9-4f80-9147-116b12b54227","leftValue":"={{ $json.output.amount.toNumber() }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1936,848],"id":"c7dac658-55ea-46a5-a4f2-90734f55c591","name":"If3"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Label High Priority","type":"main","index":0}],[{"node":"Label Financial","type":"main","index":0}],[{"node":"Label Action","type":"main","index":0}],[{"node":"Label Billing","type":"main","index":0}],[{"node":"Label Promotion","type":"main","index":0}],[{"node":"Label OTP","type":"main","index":0}],[{"node":"Label Promotion","type":"main","index":0}]]},"Text Classifier Finance Related":{"main":[[{"node":"Sublabel Incoming","type":"main","index":0}],[{"node":"Sublabel Outgoing","type":"main","index":0}]]},"High Priority":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Finance Incoming":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Finance Outgoing":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Action Required":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Billing":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Think1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Create a draft in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"If2","type":"main","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"Text Classifier Finance Related","type":"ai_languageModel","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Label High Priority":{"main":[[{"node":"Final Label","type":"main","index":0}]]},"Label Financial":{"main":[[{"node":"Final Label","type":"main","index":0}]]},"Label Action":{"main":[[{"node":"Final Label","type":"main","index":0}]]},"Label Promotion":{"main":[[{"node":"Final Label","type":"main","index":0}]]},"Label Billing":{"main":[[{"node":"Final Label","type":"main","index":0}]]},"Sublabel Incoming":{"main":[[{"node":"Final Sublabel","type":"main","index":0}]]},"Sublabel Outgoing":{"main":[[{"node":"Final Sublabel","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get many messages in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create a draft":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send Gmail Draft","type":"main","index":0}],[{"node":"Send a chat action","type":"main","index":0},{"node":"Append row in sheet Draft","type":"main","index":0}]]},"Send Gmail Draft":{"main":[[{"node":"Send a chat action","type":"main","index":0},{"node":"Append row in sheet Draft Send","type":"main","index":0}]]},"Append row in sheet Draft Send":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Append row in sheet Draft":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Send a text message in Telegram Finance":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OTP":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Send a text message OTP","type":"main","index":0}]]},"Google Gemini Chat Model6":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Think2":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model7":{"ai_languageModel":[[{"node":"Structured Output Parser2","type":"ai_languageModel","index":0}]]},"Final Label":{"main":[[{"node":"Switch Label","type":"main","index":0}]]},"Label OTP":{"main":[[{"node":"Final Label","type":"main","index":0}]]},"Switch Label":{"main":[[{"node":"High Priority","type":"main","index":0}],[{"node":"Action Required","type":"main","index":0}],[{"node":"Text Classifier Finance Related","type":"main","index":0}],[{"node":"Billing","type":"main","index":0}],[{"node":"OTP","type":"main","index":0}],[{"node":"Promotion","type":"main","index":0}]]},"Final Sublabel":{"main":[[{"node":"Switch Sublabel","type":"main","index":0}]]},"Switch Sublabel":{"main":[[{"node":"Finance Incoming","type":"main","index":0}],[{"node":"Finance Outgoing","type":"main","index":0}]]},"If2":{"main":[[{"node":"Send a text message2","type":"main","index":0}],[{"node":"Create a draft","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Gemini Chat Model8":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model9":{"ai_languageModel":[[{"node":"Structured Output Parser3","type":"ai_languageModel","index":0}]]},"Think3":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Calculator2":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Send a text message in Telegram Finance1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Get row(s) in sheet in Google Sheets1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Append row in sheet Billing1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Append row in sheet Finance","type":"main","index":0}]]}},"meta":{"templateCredsSetupCompleted":true}}