2025/09/24/HmrTIqRjMnMk1zm1.json
{"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"9267f254-4315-4bfb-9303-304d9171d1f4","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1216,496],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"eb3dc441-83e7-4620-9ec8-e6eb1fa4ff24","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,256]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"56728b91-7268-42b9-9814-bafefcd5df59","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,64]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"242dafb9-f947-4aaf-b82f-7450eba92217","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-752,160],"onError":"continueErrorOutput"},{"parameters":{"calendar":{"__rl":true,"value":"elijahjosemirandilla@gmail.com","mode":"list","cachedResultName":"elijahjosemirandilla@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-864,384],"id":"c8aef2dd-5d07-48f3-bd8a-b6e0d7996202","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"lq9Pg3nvjVOvx7rr","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"elijahjosemirandilla@gmail.com","mode":"list","cachedResultName":"elijahjosemirandilla@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-736,384],"id":"7e6c42ff-97ee-4076-9a6b-e5ed56b0c46f","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"lq9Pg3nvjVOvx7rr","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"elijahjosemirandilla@gmail.com","mode":"list","cachedResultName":"elijahjosemirandilla@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-608,384],"id":"ec3d5434-336f-4e26-9c93-e1398bd58896","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"lq9Pg3nvjVOvx7rr","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"elijahjosemirandilla@gmail.com","mode":"list","cachedResultName":"elijahjosemirandilla@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-480,384],"id":"c6eb0ca1-978f-4898-9113-057288ef1e2c","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"lq9Pg3nvjVOvx7rr","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"elijahjosemirandilla@gmail.com","mode":"list","cachedResultName":"elijahjosemirandilla@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-352,384],"id":"4ae8b2a8-2043-4f2b-a9e5-3c7e187b5765","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"lq9Pg3nvjVOvx7rr","name":"Google Calendar account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,160],"id":"2aa5f04a-6e32-42c6-b6d4-2c001d56e222","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-992,384],"id":"e00c849c-6b7f-4cee-9a52-c9a9dfb213c5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Calendar Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]}},"meta":null}