2025/09/24/lsNEWdCkGr40dHCW.json
{"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-816,416],"id":"fbaf4b16-37aa-4286-90bd-3b79d4fd64d9","name":"Anthropic Chat Model","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"14d9076e-27ea-4846-8b44-f83cf4022b9e","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-16],"id":"f80039b9-9b14-4253-bbbe-c341756c22ad","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"f2a8ff2d-6b59-4ad6-a2e7-8705354f4105","name":"response","value":"Error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,176],"id":"fab16ae9-553a-4488-8645-68140ddfd3e0","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-816,80],"id":"6fd17ceb-06b8-4670-81ea-cf0faa1467ac","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-592,304],"id":"a5d930e5-cae7-417a-b0aa-e9c65d017599","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"w9qTiKJPaYGFJi09","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-464,304],"id":"b5034aa0-e2a6-4fd5-8b80-d5174ddd1cb4","name":"Add or Update","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU","mode":"list","cachedResultName":"Email Manager Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u4wM2BEgiklGYW0eSryZSauTkJ1LP1_ldvfD2IRojlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-336,304],"id":"de5af8fd-b867-45a7-87ea-eb0a3074e7b8","name":"Get Rows","credentials":{"googleSheetsOAuth2Api":{"id":"gzt847wHGIqVTZae","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json.query}}","options":{"systemMessage":"=# Overview\nYou are a skilled AI database manager specializing in checking, creating, and updating. \n\n## Tools\nAdd or Update - Use this to add or update existing data.\nGet Rows - Use this to check or review existing data.\n\n## Database Details\nAvailable sheets are:\nDrafted Email\nFinance\nBilling"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-544,80],"id":"f8952daf-ef38-4651-a5be-693f2071e1be","name":"Database Agent","onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Database Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Database Agent","type":"ai_languageModel","index":0}]]},"Add or Update":{"ai_tool":[[{"node":"Database Agent","type":"ai_tool","index":0}]]},"Get Rows":{"ai_tool":[[{"node":"Database Agent","type":"ai_tool","index":0}]]},"Database Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"meta":null}